<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>拼团</title>
        <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
        <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
        <link rel="stylesheet" href="${staticPath}/group/style-index.css?v=${version}">
    </head>
    <body ontouchstart="">
        <ui-header title="拼团流程" no-prev="/group/index.html" v-if="!weixin"></ui-header>
        <!-- main section -->
        <section class="progress-content bgf" v-cloak>
                <img v-for="img in instruction"  :src="img.imageUrl" class="w100"/>
            <!--<div class="progress-title">-->
                <!--<p class="icons3">拼团流程</p>-->
            <!--</div>-->
            <!--<p class="font-bold">1.组团成功</p>-->
            <!--<img class="home-add marginT20" src="${staticPath}/images/progress1.png">-->
            <!--<p class="font-bold marginT20">2.组团成功</p>-->
            <!--<p class="progress-text">1)成团24小时之后，如果未达到相应的组团人数，则该团组团失败</p>-->
            <!--<p class="progress-text">2)在拼团有效期24小时内，商品已经提前售罄，但参团人数还未达到相应要求，则该团也失效。</p>-->
            <!--<p class="font-bold marginT20">3.退款说明</p>-->
            <!--<p class="progress-text">系统会在1-3天内提交微信处理，微信审核后在2-5个工作日自动原路退至您的支付账户。</p>-->
        </section>
        <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script> 
        <script>if(/MicroMessenger/i.test(navigator.userAgent)) document.write('<script src="//res.wx.qq.com/open/js/jweixin-1.1.0.js"><\/script>');</script>
        <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
        <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
        <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
        <script src="${staticPath}/common.js?v=${version}"></script>
        <script src="${staticPath}/group/progress.js?v=${version}"></script>
    </body>
</html>