<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="heimdall" content="提交订单页">    
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/pay/pay.css?v=${version}">


</head>
<body v-need-login>
<ui-header :title="headTitle" :back-event="setInit" :class="{show:showSubPage&&!unusualStatus}" :hide-border="showProCode?true:false" v-cloak>
    <a href="javascript:void(0)" class="handle f14" @click="showReceiptNotice = true" v-if="showInvoice">发票规则</a>
</ui-header>
<!--尾部-->
<footer class="ui-footer ui-footer-stable ui-border-t hide" :class="{show:isLoaded&&!showSubPage&&!unusualStatus}">
    <div class="c9 pay-refund-warn" v-if="orderInfo.presell&&orderInfo.presell.canReturnDownPrice == 0"><i class="icons"></i>下单后定金恕不退还</div>
    <button class="btn-pay bgTheme cf" @click="submitOrder()" :disabled="totalProdNum>0||runningFlag">
        <span v-if="orderInfo.businessType != 5&& orderInfo.businessType != 6">提交订单</span>
        <span v-if="orderInfo.businessType == 5">支付定金</span>
        <span v-if="orderInfo.businessType == 6">支付尾款</span>
    </button>
    <div class="total">
        <div>
            <span class="f12">合计：</span><i class="f20 theme">¥{{orderInfo.amount|cut true}}</i><span class="theme">.{{orderInfo.amount|cut}}</span>
        </div>
        <div>
            <span class="f12 c9">已优惠：{{(orderInfo.promotionSavedAmount || '0') | currency '¥'}}</span>
        </div>
    </div>
    <!-- <span class="total theme" v-cloak>合计:¥<i class="f20">{{orderInfo.amount|cut
        true}}</i>.{{orderInfo.amount|cut}}</span>
    <span class="total-num" v-cloak>共 <span class="theme">{{orderInfo.totalNum}}</span> 件</span> -->
</footer>

<!-- 商品列表 -->
<section class="ui-container main hide" v-cloak :class="{show:isLoaded&&!showSubPage&&!unusualStatus,'pay-warn-bottom':orderInfo.presell&&orderInfo.presell.canReturnDownPrice == 0}">
    <!--地址-->
    <!-- receiverStatus等于4的时候，为不需要收货地址状态 -->
    <div class="ui-card2 pad12 address-inner bgImg" v-if="orderInfo.receiverStatus != 3">
        <div class="content"  @click="orderInfo.businessType != 6&&gotoAddressChose(orderInfo.receiver.receiverId)">
            <div v-if="isLoaded&&orderInfo.receiver">
                <p >
                    <span>{{orderInfo.receiver.name}}</span>
                    <span class="fr mgR10">{{orderInfo.receiver.mobile}}</span>
                </p>
                <p class="c6 f12 ui-next"><span class="theme" v-if="orderInfo.receiver.isDefault">[默认地址]</span>
                    {{orderInfo.receiver.provinceName}}{{orderInfo.receiver.cityName}}{{orderInfo.receiver.areaName}}{{orderInfo.receiver.detailAddress}}
                    <i v-if="orderInfo.businessType != 6" class="icons icons-next"></i>
                </p>
                <i class="icons icons-address"></i>
            </div>
            <div class="addr no-addr hide" v-if="!orderInfo.receiver" :class="{show:isLoaded}" @click="checkAddress()">
                <p>您还没有收货地址，赶快添加吧！</p>
            </div>
            <div class="addr no-addr hide" :class="{show:!isLoaded}">
                <img src="../images/loading.gif"/>
            </div>
        </div>
    </div>
    <!-- 安装地址 -->    
    <div class="ui-card2 pad12 mgT10 address-inner" v-if="isLoaded&&orderInfo.installReceiver != null">
        <div class="content"  @click="gotoAddressChose(orderInfo.installReceiver.receiverId,true)">
            <div v-if="isLoaded&&orderInfo.installReceiver.isSameAsReceiver">
                <p >
                    <span>安装地址</span>
                </p>
                <p class="c6 f12 ui-next">
                    <span>安装地址默认使用收货地址，若有变化请点击修改</span>
                    <i class="icons icons-next"></i>
                </p>
                <i class="icons icons-address-serve"></i>
            </div>
            <div v-if="isLoaded&&!orderInfo.installReceiver.isSameAsReceiver&&orderInfo.installReceiver.receiverId">
                <p >
                    <span>安装地址</span>
                </p>
                <p class="c6 f12 ui-next"><span class="theme"></span>
                    {{orderInfo.installReceiver.name}}&nbsp;{{orderInfo.installReceiver.mobile}}&nbsp;{{orderInfo.installReceiver.provinceName}}{{orderInfo.installReceiver.cityName}}{{orderInfo.installReceiver.areaName}}{{orderInfo.installReceiver.detailAddress}}
                    <i class="icons icons-next"></i>
                </p>
                <i class="icons icons-address-serve"></i>
            </div>
            <div class="addr no-addr hide" v-if="isLoaded&&!orderInfo.installReceiver.isSameAsReceiver&&orderInfo.installReceiver.receiverId == null" :class="{show:isLoaded}" @click="checkAddress(true)">
                    <p>您还没有安装地址，赶快添加吧！</p>
                </div>
            <div class="addr no-addr hide" :class="{show:!isLoaded}">
                <img src="../images/loading.gif"/>
            </div>
        </div>
    </div>
        <!--支付方式-->
    <div class="ui-card2 marT10">
        <ul class="ui-list ui-list-text" @click="showPayment=true">
            <li>
                <h4 class="ui-nowrap">支付方式</h4>

                <div class="ui-txt-info">{{defaultPayment.name}}</div>
            </li>
        </ul>
    </div>

    <!--商品列表:拼团商品-->
    <div class="ui-card2 marT10" v-if="isGroupOrder">
        <div class="pad12 ui-border-b">费用明细</div>
        <ul class="ui-list ui-list-customize">
            <li v-for="product in orderInfo.productList||[]">
                <div class="ui-list-thumb">
                    <img :src="product.url160x160" width="60" height="60" class="ui-border">
                </div>
                <div class="ui-list-info">
                    <p class="name ui-nowrap-multi">
                        <span>{{product.name}}</span>
                    </p>
                    <p class="ui-nowrap" style="color: #999">
                        <span v-for="attr in product.propertyTags">{{ attr.value }}&nbsp;&nbsp;&nbsp;</span>
                    </p>
                    <ul class="ui-row-flex price">
                        <li class="ui-col ui-flex ui-flex-pack-start theme">
                            <span class="c6" style="margin-right: 5px;">{{orderInfo.groupBuyLimitNum||0}}人团</span>
                            <span class="f12">¥</span><span class="f20">{{product.price|currency ''}}</span>
                        </li>
                        <li class="ui-col ui-flex ui-flex-pack-end c9"><span class="c80">X{{product.num}}</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="ui-list ui-list-text">
            <li class="ui-border-t">
                <h4 class="ui-nowrap"></h4>
                <div class="ui-txt-info">
                    <span class="c3">共</span>
                    <span class="theme">{{orderInfo.totalNum||0}}</span>
                    <span class="c3 mgR10">件 </span>
                    <span class="c3 mgR15">合计:</span>
                    <span class="theme">{{orderInfo.productAmount|currency '¥'}}</span>
                </div>
            </li>
        </ul>
    </div>

    <!--商品列表:普通商品-->
    <div class="ui-card2 marT10" v-for="merchant in orderInfo.merchantList" v-else>
        <div class="pad12 ui-border-b">
            订单{{$index+1}}<!--{{merchant.merchantName}}-->
        </div>
        <ul class="ui-list ui-list-customize">
            <li :class="{'ui-border-b':product.isGift==1}"
                v-for="product in merchant.productList">
                <template v-if="product.isGift==1">
                    <!--<div class="gift-stick"></div>-->
                    <div class="ui-list-thumb">
                        <img class="mgL15 mgR15" :src="product.url160x160" width="60" height="60">
                    </div>
                </template>
                <div class="ui-list-thumb" v-else>
                    <img :src="product.url160x160" width="90" height="90">
                </div>
                <div class="ui-list-info">
                    <p class="name ui-nowrap-multi">
                        <span class="f12 cb38a32" v-if="product.isGift==1">[赠品]</span>
                        <span :class="{'f12 c9':product.isGift==1}">{{product.name}}</span>
                    </p>
                    <p class="ui-nowrap" style="color: #999">
                        <span class="f12 c9 padR10 disB whNor" v-for="attr in product.propertyTags | limitBy 2">{{attr.name}}：{{attr.value}}</span>
                    </p>
                    <ul class="ui-row-flex price">
                        <li class="ui-col ui-flex ui-flex-pack-start theme" v-if="product.isGift==1">
                            <span class="f12 c6">¥</span><span class="f14 c6">{{product.price|currency ''}}</span>
                        </li>
                        <li class="ui-col ui-flex ui-flex-pack-start theme" v-else>
                            <span v-if="product.pointsPrice">
                               <span class="f12"><span class="f20">{{product.pointsPrice}}</span><span>积分</span></span><span v-if="product.price>0&&product.pointsPrice">+¥</span><span v-if="product.price>0&&product.pointsPrice" class="f20">{{product.price|currency ''}}</span>
                            </span>
                            <span v-if="!product.pointsPrice">
                               <span>¥</span><span class="f20">{{product.price|currency ''}}</span>
                            </span>

                        </li>
                        <li class="ui-col ui-flex ui-flex-pack-end c9">x<span class="c3">{{product.num}}</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="ui-list ui-list-text ui-next">
            <li class="ui-border-t" @click="chooseDelivery(merchant)">
                <h4 class="ui-nowrap">配送信息</h4>
                <div class="ui-txt-info mgR15" v-if="merchant.deliveryFee>0">运费：{{merchant.deliveryFee|currency '￥'}}</div>
                <div class="ui-txt-info mgR15" v-else>
                    <span v-for="item in merchant.deliveryModeList">
                        <span v-if="item.isDefault">{{item.name}}</span>
                    </span>    
                </div>
                <i class="icons icons-next"></i>
            </li>
        </ul>
        <div class="ui-form  ui-border-b">
            <div class="ui-form-item ui-form-item-show ui-border-t">
                <form>
                    <label>买家留言</label>
                    <input type="text" v-model="merchant.remark" maxlength="60"
                           @change="saveRemark(merchant.remark,merchant.id)"
                           placeholder="选填，给卖家留言 (60字以内)">
                </form>
            </div>
        </div>
        <ul class="ui-list ui-list-text">
            <li class="">
                <h4 class="ui-nowrap"></h4>

                <div class="ui-txt-info">共 <span class="theme">{{merchant.totalNum}}</span> 件，商品合计 <span
                        class="theme">{{merchant.amount|currency '￥'}}</span></div>
            </li>
        </ul>
    </div>
    <ul class="ui-list ui-list-text ui-next  mgT10" @click="orderInfo.businessType == 6?showInvoice=false:showInvoice=true" v-if="orderInfo.orderInvoice">
        <li class="">
            <h4 class="ui-nowrap"><span class="f15 c3">发票</span></h4>
            <div class="ui-txt-info ui-nowrap invoice-limit mgR20">
                <span>{{invoiceDisplayName}}</span>
            </div>
            <i v-if="orderInfo.businessType != 6" class="icons icons-next"></i>
        </li>
    </ul>


    <!--各种抵扣-->
    <div class="ui-card2 marT10">
        <!-- 预售定金 未开发 2017-07-20-->
        <ul class="ui-list ui-list-text ui-next" v-if="orderInfo.presell && orderInfo.presell.status == 25">
            <li>
                <h4 class="ui-nowrap">定金：<span class="coupons-tip f14" >{{orderInfo.presell.downPrice | currency '￥'}}</span></h4>
                <div class="ui-txt-info theme">-{{orderInfo.presell.offsetPrice|currency '￥'}}</div>
            </li>
        </ul>
        <ul class="ui-list ui-list-text ui-next ui-border-t" @click="showCoupon=!orderInfo.allCoupon.availableQuantity||orderInfo.allCoupon.availableQuantity==0?false:true" v-if="orderInfo.allCoupon">
            <li>
                <h4 class="ui-nowrap">优惠券 <span class="coupons-tip" v-if="orderInfo.allCoupon.availableQuantity>0">{{orderInfo.allCoupon.availableQuantity}}张可用</span></h4>
                <div class="ui-txt-info theme mgR20" v-if="orderInfo.allCoupon.availableQuantity>0&&orderInfo.allCoupon.selected==1">-{{orderInfo.allCoupon.preferentialPrice|currency '￥'}}</div>
                <div class="ui-txt-info mgR20" v-if="orderInfo.allCoupon.availableQuantity>0&&orderInfo.allCoupon.selected==0">不使用优惠券</div>
                <div class="ui-txt-info mgR20" v-if="!orderInfo.allCoupon.availableQuantity||orderInfo.allCoupon.availableQuantity==0">无可用</div>
                <!-- v-link-to="'${contextPath}/my/coupons-list.html?from=/pay/pay.html?t'" -->
            </li>
            <i class="icons icons-next"></i>
        </ul>
        <!-- <div class="ui-form-item ui-form-item-show ui-border-t has-unit" >
             <label class="f16">佣金折扣</label>
            <input type="number" max="9999999" v-model="orderInfo.brokerage.usageAmount"
                   placeholder="请输入金额，还剩余{{(orderInfo.brokerage||{}).residualAmount||0}}元可用"
                   :disabled="orderInfo.brokerage.isAvailable==0"
                   @change="saveBrokerage(orderInfo.brokerage.usageAmount)"
                   @focus="orderInfo.brokerage.usageAmount==''"
                   @keyup="orderInfo.brokerage.usageAmount=checkedBrokerage(orderInfo.brokerage.usageAmount)"
                   v-if="orderInfo.brokerage">
            <span class="unit">{{orderInfo.brokerage?'元':'不可用'}}</span> 
        </div> -->
        <div class="ui-form-item ui-form-item-switch ui-border-t" v-if="orderInfo.points">
            <p class="ui-nowrap">
                <h4>积分</h4>
                <span class="c9 f12 mgL20">
                    <i class="ui-icon-info"></i>{{orderInfo.points.canUseCount}} 积分可用，可抵 {{(orderInfo.points.canUseCount/(orderInfo.points.rate||1)).toFixed(2)}} 元</span>
            </p>
            <label class="ui-switch">
                <input type="checkbox" :disabled="!orderInfo.points.isAvailable" v-model="usePoints" @change="savePoints(orderInfo.points.canUseCount)">
            </label>
        </div>
        <!-- <div class="ui-form-item ui-form-item-switch ui-border-t" v-if="orderInfo.brokerage">
            <p class="ui-nowrap">
                <h4>佣金</h4>
                <span class="c9 f12 mgL20">
                    <i class="ui-icon-info"></i>
                    <span v-if="orderInfo.brokerage.residualAmount">抵扣 {{orderInfo.brokerage.residualAmount}} 元</span>
                    <span v-else>暂无能抵扣的佣金</span>
                </span>
            </p>
            <label class="ui-switch">
                <input type="checkbox" :disabled="!orderInfo.brokerage.isAvailable" v-model="usebrokerage" @change="saveBrokerage(orderInfo.brokerage.residualAmount)">
            </label>
        </div> -->
        <div class="ui-form-item ui-form-item-show ui-border-t has-unit"  v-if="orderInfo.brokerage&&orderInfo.brokerage.isAvailable == 1">
             <label class="f16">佣金折扣</label>
            <input type="number" max="9999999" v-model="orderInfo.brokerage.usageAmount"
                   placeholder="请输入金额，还剩余{{(orderInfo.brokerage||{}).residualAmount||0}}元可用"
                   :disabled="orderInfo.brokerage.isAvailable==0"
                   @change="saveBrokerage(orderInfo.brokerage.usageAmount)"
                   @focus="orderInfo.brokerage.usageAmount==''"
                   @keyup="orderInfo.brokerage.usageAmount=checkedBrokerage(orderInfo.brokerage.usageAmount)"
                   v-if="orderInfo.brokerage">
            <span class="unit">{{orderInfo.brokerage?'元':'不可用'}}</span> 
        </div>
        <!-- 优惠码-->
        <ul class="ui-list ui-list-text ui-next ui-border-t" v-if="orderInfo.orderReferralCode" @click="showProCodeTab()">
            <li>
                <h4 class="ui-nowrap">优惠码</h4>
                <div class="ui-txt-info c9 mgR20" v-if="orderInfo.orderReferralCode && !orderInfo.orderReferralCode.selected">{{"请选择优惠码获取优惠"}}</div>
                <div class="ui-txt-info theme mgR20" v-if="orderInfo.orderReferralCode && orderInfo.orderReferralCode.selected">-&nbsp;{{orderInfo.referralCodeAmount|currency '￥'}}</div>
            </li>
            <i class="icons-next icons"></i>
        </ul>
    </div>
    <!-- 预售支付定金 未开发 2017-07-20-->
    <div class="ui-card2 marT10 presell" v-if="orderInfo.businessType == 5">
        <ul class="ui-list ui-list-text">
            <li>
                <h4 class="ui-nowrap f15">待支付定金</h4>
                <div class="ui-txt-info"><span class="theme f14">{{orderInfo.presell.downPrice|currency '¥'}}</span>&nbsp;&nbsp;<span class="red-mark f12">抵扣&nbsp;{{orderInfo.presell.offsetPrice|currency '¥'}}</span></div>
            </li>
            <li class="">
                <h4 class="ui-nowrap f12">{{orderInfo.presell.startTime|dateTime 'MM月dd日hh:mm:ss'}}开始支付尾款</h4>
                <div class="ui-txt-info theme f14">{{orderInfo.presell.finalPayment|currency '¥'}}</div>
            </li>
            <li class="c9 f12"><div>付款当日我们会以消息的方式提示您</div></li>
        </ul>
    </div>
    <!--统计-->
    <div class="ui-card2 padT10 padR10 padL10 marT10">
        <ul class="ui-row-flex c3" style="margin:0 -10px;padding:0 10px 10px;border-bottom:1px solid #e5e5e5;">
            <li class="ui-col ui-flex ui-flex-pack-start f15">商品总价</li>
            <li v-if="orderInfo.totalPoints" class="ui-col ui-flex ui-flex-pack-end theme"><span>{{orderInfo.totalPoints}}积分</span>
                <span v-if="orderInfo.productAmount>0">+{{orderInfo.productAmount|currency '￥'}}</span></li>
            <li v-if="!orderInfo.totalPoints" class="ui-col ui-flex ui-flex-pack-end theme">{{orderInfo.productAmount|currency '￥'}}</li>
        </ul>
        <!-- <ul class="ui-row-flex">
            <li class="ui-col ui-flex ui-flex-pack-start c9">促销优惠</li>
            <li class="ui-col ui-flex ui-flex-pack-end theme">-{{orderInfo.promotionSavedAmount|currency '￥'}}</li>
        </ul>
        <ul class="ui-row-flex" v-if="orderInfo.brokerage&&orderInfo.brokerage.isAvailable==1">
            <li class="ui-col ui-flex ui-flex-pack-start c9">佣金</li>
            <li class="ui-col ui-flex ui-flex-pack-end theme">-{{(orderInfo.brokerage.usageAmount||0)|currency '￥'}}</li>
        </ul>
        <ul class="ui-row-flex" v-if="usePoints">
            <li class="ui-col ui-flex ui-flex-pack-start c9">积分</li>
            <li class="ui-col ui-flex ui-flex-pack-end theme">-{{(orderInfo.points.discount||0)|currency '￥'}}</li>
        </ul>
        <ul class="ui-row-flex" v-if="orderInfo.overseaPurchase==1">
            <li class="ui-col ui-flex ui-flex-pack-start c9">税费</li>
            <li class="ui-col ui-flex ui-flex-pack-end green">+{{orderInfo.totalTax|currency '￥'}}</li>
        </ul>
        <ul class="ui-row-flex padB10">
            <li class="ui-col ui-flex ui-flex-pack-start c9">运费</li>
            <li class="ui-col ui-flex ui-flex-pack-end green">+{{orderInfo.totalDeliveryFee|currency '￥'}}</li>
        </ul> -->
        <div  v-for="item in orderInfo.expenseList">
            <ul class="ui-row-flex" v-if="item.label!='商品总价'">
                <li class="ui-col ui-flex ui-flex-pack-start c9">{{item.label}}</li>
                <li class="ui-col ui-flex ui-flex-pack-end theme">{{item.operator}}{{item.value|currency '￥'}}</li>
            </ul>
        </div>
    </div>
</section>

<!-- 选择支付方式 -->
<section class="ui-container hide" :class="{show:showPayment}">
    <div class="ui-card2 marT10 pad10">
        <ul class="ui-list ui-list-text">
            <li class="ui-border-b" v-for="payment in orderInfo.payments"
                @click="savePayment(selectedPaymentId=payment.paymentId)">
                <input class="hide" type="radio" name="payment" :value="payment.paymentId" v-model="selectedPaymentId">
                <i class="icon icon-weixin"></i><h4 class="ui-nowrap marL10 c3">{{payment.name}}</h4><i
                    class="icon icon-hook" v-if="payment.paymentId==selectedPaymentId"></i>
            </li>
        </ul>
    </div>
</section>
<!-- 选择配送方式 -->
<section class="ui-container hide" :class="{show:showDeliver}">
    <div class="ui-card2 marT10 pad10">
        <ul class="ui-list ui-list-text">
            <li class="ui-border-b" v-for="mode in chooesdMerchant.deliveryModeList" @click="saveDelivery(mode)">
                <h4 class="ui-nowrap marL10 c3">{{mode.name}}</h4>
            </li>
        </ul>
    </div>
</section>

<!-- 选择优惠券 -->
<section class="ui-container hide" :class="{show:showCoupon}">
    <div class="group" v-for="coupon in coupons" v-cloak>
        <div class="ui-row-flex coupon marT10" :class="{gray: coupon.isAvailable == 0 }" @click="selectCoupon(coupons,coupon)">
            <div class="ui-col ui-col ui-border-r ui-flex ui-flex-align-center padL6">
                <div class="marL6">
                    <div class="amount">￥<span class="f30">{{coupon.couponValue}}</span></div>
                    <p class="type">优惠券</p>
                </div>
            </div>
            <div class="ui-col ui-col-2 padL10" @click="">
                <h5><span class="f12 c6">{{coupon.moneyRule}}</span></h5>
                <!--<p class="num" :class="{'theme':coupon.isAvailable == 0,'c6':coupon.isAvailable != 0}">{{coupon.refDescription}}</p>-->
                <p class="date">{{coupon.startTime|date}}至{{coupon.endTime|date}}</p>
            </div>
            <i :class="{'ui-icon-checked-s': coupon.selected, 'ui-icon-unchecked-s':  !coupon.selected, 'theme':coupon.selected}"></i>
        </div>
    </div>
    <div class="ui-card">
        <button type="button" class="ui-btn-lg ui-btn-primary bottom-btn" @click="saveCoupon()">确定</button>
    </div>
</section>
<!-- 选择优惠码 -->
<section class="ui-container hide" :class="{show:showProCode}">
    <div class="proCode-tab ui-row-flex">
        <div class="ui-col">
            <span class="tab-li left fr" :class="{'active':proCodeIsVal == 1}" @click="switchProTab(1)">
                可用
            </span>
        </div>
        <div class="ui-col">
            <span class="tab-li right fl" :class="{'active':proCodeIsVal == 2}" @click="switchProTab(2)">
                不可用
            </span>            
        </div>
    </div>
    <div class="add-proCode">
        <span class="theme" @click="addProCodeShow = true">+ 添加优惠码</span>
    </div>
    <div class="group" v-for="item in proCodeShowList" v-cloak>
        <div class="ui-row-flex coupon marT10" :class="{gray: item.isAvailable == 0 }" @click="selectProcode(proCodeShowList,item)">
            <div class="ui-col ui-col ui-border-r ui-flex ui-flex-align-center padL6">
                <div class="marL6">
                    <div class="amount" v-if="item.contentType == 1">￥<span class="f20">{{item.contentValue | hundredCut}}</span></div>
                    <div class="amount" v-if="item.contentType == 2"><span class="f30">{{item.contentValue}}折</span></div>
                </div>
            </div>
            <div class="ui-col ui-col-2 padL10" @click="">
                <h5><span class="f12 c6">{{item.themeName}}</span></h5>
                <p class="num">{{item.useRule}}</p>
                <p class="date">{{item.startTimeStr|date}}至{{item.endTimeStr|date}}</p>
            </div>
            <i :class="{'ui-icon-checked-s': item.selected, 'ui-icon-unchecked-s':  !item.selected, 'theme':item.selected}"></i>
        </div>
    </div>
    <div class="ui-card">
        <button type="button" class="ui-btn-lg ui-btn-primary bottom-btn" @click="saveProCode()">确定</button>
    </div>
    <div class="ui-actionsheet" :class="{show:addProCodeShow}">
        <div class="ui-actionsheet-cnt ui-pop">
            <div class="close" @click="addProCodeShow = false">×</div>
            <div class="tit c9 f14">添加优惠码</div>
            <div class="ui-form marT10 mgB90 ui-border-b">
                <div class="ui-form-item ui-form-item-show ui-border-t">
                    <label for="#" class="f14 c6" >优惠码</label>
                    <input style="text-align:left;" type="text" maxlength="19" placeholder="请输入优惠码" class="c6" v-model="userAddProCode">
                    <a href="#" class="ui-icon-close" style="top:-4px;" v-if="userAddProCode.length > 0" @click="userAddProCode = ''"></a>
                </div>
            </div>
            <div class="btn">
                <div class="ui-btn-lg ui-btn-primary no-radius" @click="addProCode">确定</div>
            </div>
        </div>
    </div>
</section>
<!-- 发票 -->
<section class="ui-container hide" :class="{show:showInvoice}">
    <form class="invoice">
        <div class="ui-card">
            <div class="ui-form-item ui-form-item-switch">
                <p class="f14 c6">
                    需要发票
                </p>
                <label class="ui-switch">
                    <input type="checkbox" v-model="isNeed" :disabled="merchantSupportInvoiceType==0" @change="checkIsNeed">
                </label>
            </div>
        </div>
        <div v-if="isNeed" v-cloak>
            <div class="ui-card pad10">
                <p class="f14 c6">
                    发票类型
                </p>
                <span class="block" :class="{'active':invoice.invoiceType==1}" @click="switchInvoice(1)" :disabled="merchantSupportInvoiceType==2">普通发票</span>
                 <!--<span class="block" v-if="merchantSupportInvoiceType==2||merchantSupportInvoiceType==3" :class="{'active':invoice.invoiceType==2}" @click="switchInvoice(2)" :disabled="merchantSupportInvoiceType==1">增值税发票</span>-->
            </div>

            <div class="ui-card pad10">
                <p class="f14 c6">
                    开票方式
                </p>
                <span v-for="configOne in soInviceConfig" class="block" :class="{'active':invoice.invoiceMode==configOne.invoiceMode}" v-show="merchantSupportInvoiceType>0 && (invoice.invoiceType==1 || (invoice.invoiceType==2 && configOne.invoiceMode ==2))" @click="switchSoInviceConfig(configOne.invoiceMode)">{{configOne.invoiceModeName}}</span>
                <!--<span class="block" :class="{'active':invoice.invoiceMode==2}" v-if="merchantSupportInvoiceType>0" @click="switchSoInviceConfig(2)">纸质发票</span>-->
                <!--<span class="block" :class="{'active':invoice.invoiceMode==1}"  v-if="merchantSupportInvoiceType>0&&invoice.invoiceType!=2" @click="switchSoInviceConfig(1)">电子发票</span>-->


            </div>

            <div class="ui-card pad10" v-show="invoice.invoiceType==1">
                <p class="f14 c6">
                    发票抬头
                </p>
                <span class="block" :class="{'active':invoice.invoiceTitleType==1}" @click="invoice.invoiceTitleType=1">个人</span>
                <span class="block" :class="{'active':invoice.invoiceTitleType==2}" @click="invoice.invoiceTitleType=2">单位</span>
                <div class="ui-input ui-border-b" v-if="invoice.invoiceTitleType == 2" style="background: transparent;">
                    <input type="text" name="" v-model="invoice.invoiceTitleContent" maxlength="40" placeholder="请填写单位名称"/>
                </div>
                <div class="ui-input ui-border-b" v-if="invoice.invoiceTitleType == 2" style="background: transparent;">
                    <input type="text" name="" v-model="invoice.departmentTaxpayerIdentificationCode" maxlength="20" placeholder="请填写纳税人识别号"/>
                </div>
            </div>

            <!-- <div class="ui-card pad10" v-show="invoice.invoiceType==1">
                <p class="f14 c6">
                    发票内容
                </p>
                <div v-for="item in invoiceCont">
                    <label class="ui-checkbox-s marT10 f12 c3 marB10" @click="invoice.invoiceContentId = item.invoiceContentId,invoice.invoiceContent = item.invoiceContentValue">
                        <input type="radio" name="d" v-model="invoice.invoiceContentId" :value="item.invoiceContentId">{{item.invoiceContentValue}}
                    </label>
                </div>

            </div> -->
            <div class="ui-card pad10" v-if="invoice.invoiceType==1 && notVatInvoiceSimple.length>0">
                <div v-if="notVatInvoiceSimple.length>0">
                    <!--不支持发票的提示-->
                    <p class="f14 c6">
                        订单中以下商品不支持开具发票
                    </p>
                    <!--不支持增值税发票的商品列表-->
                    <div class="not-vat-invoice">
                        <img :src="p.picUrl" v-for="p in notVatInvoiceSimple" width="60" height="60"/>
                    </div>
                </div>
            </div>

            <!--增值税发票-->
            <div class="ui-card pad10" v-if="invoice.invoiceType==2">
                <div v-if="notVatInvoiceSimple.length>0">
                    <!--不支持发票的提示-->
                    <p class="f14 c6">
                        订单中以下商品不支持开具发票
                    </p>
                    <!--不支持增值税发票的商品列表-->
                    <div class="not-vat-invoice">
                        <img :src="p.picUrl" v-for="p in notVatInvoiceSimple" width="60" height="60"/>
                    </div>
                </div>
                <!--无法正常使用增值税发票-->
                <div v-if="notVatInvoice.length>0">
                    <!--不支持增值税发票的提示-->
                    <p class="f14 c6">
                        订单中以下商品不支持开具增值税发票, 将开具普通发票
                    </p>
                    <!--不支持增值税发票的商品列表-->
                    <div class="not-vat-invoice">
                        <img :src="p.picUrl" v-for="p in notVatInvoice" width="60" height="60"/>
                    </div>
                </div>
                <!--未提交增值税发票-->
                <div v-show="invoice.invoiceType==2&&!invoice.unitName" class="mgTB10">
                    <div class="f14 theme">欧普照明温馨提示:</div>
                    <p class="f16 c3">
                        您尚未提交增值税发票信息, 请在订单提交后至个人中心上传企业相关凭证
                    </p>
                    <ul class="f14 c3">
                        <li class="marT10">为使顾客能及时有效地使用增值税专用发票，请详细填写公司名称、地址、电话、税号、开户银行和帐号，注意所填的内容须与纳税信息一致。首次开具增值税发票的顾客请在提交订单后，至"我的**"—"在线补开发票"—"增值税发票"根据页面提示上传加盖公章的营业执照正副本、税务登记证正副本、一般纳税人资格证书、开户许可证扫描件或提供其他公司给本公司开具的3个月内的增值税专用发票。请注意：每个欧普照明账号原则上只能关联一个增值税专用发票资质;增值税专用发票的内容只能开具九大类和商品明细及礼盒。给您带来不便请您谅解。</li>
                        <li class="marT10">（1）公司名称必须为您公司营业执照上的名称。</li>
                        <li class="marT10">（2）税务登记号是您公司《税务登记证》的编号，一般为15位；三证合一的公司请填写统一社会信用代码即可，请仔细核对后输入。</li>
                        <li class="marT10">（3）注册地址必须是您公司营业执照上的注册地址，公司电话应填写注册电话。</li>
                        <li class="marT10">（4）开户银行必须是您公司银行开户许可证上的开户银行，银行账号必须是您公司开户许可证上的银行账号。</li>
                        <li class="marT10">（5）欧普照明根据您输入的信息开具增值税专用发票，如影响认证抵扣，欧普照明不会受理重新开具增值税专用发票的要求，请务必认真校对所填开票信息。</li>
                    </ul>
                </div>
                <!--可以正常使用增值税发票-->
                <div v-show="invoice.auditStatus!=null">
                    <ul class="ui-list ui-list-text ul-li f16 marT5">
                        <li class="ui-border-tb">
                            <h4 class="ui-nowrap">公司名称</h4>
                            <div class="ui-txt-info c9" v-cloak>{{invoice.unitName}}</div>
                        </li>
                        <li class="ui-border-b">
                            <h4 class="ui-nowrap">纳税人识别码</h4>
                            <div class="ui-txt-info c9" v-cloak>{{invoice.taxpayerIdentificationCode}}</div>
                        </li>
                        <li class="ui-border-b">
                            <h4 class="ui-nowrap">注册地址</h4>
                            <div class="ui-txt-info c9 ui-nowrap-multi" style="max-width:70%;" v-cloak>{{invoice.registerAddress}}</div>
                        </li>
                        <li class="ui-border-b">
                            <h4 class="ui-nowrap">注册电话</h4>
                            <div class="ui-txt-info c9" v-cloak>{{invoice.registerPhone}}</div>
                        </li>
                        <li class="ui-border-b">
                            <h4 class="ui-nowrap">开户银行</h4>
                            <div class="ui-txt-info c9" v-cloak>{{invoice.bankDeposit}}</div>
                        </li>
                        <li class="">
                            <h4 class="ui-nowrap">银行账户</h4>
                            <div class="ui-txt-info c9" v-cloak>{{invoice.bankAccount}}</div>
                        </li>
                    </ul>
                    <!--<table class="invoice-tb mgTB10 f16">
                        <tbody>
                        <tr>
                            <td>公司名称</td>
                            <td>{{invoice.unitName}}</td>
                        </tr>
                        <tr>
                            <td>纳税人识别码</td>
                            <td>{{invoice.taxpayerIdentificationCode}}</td>
                        </tr>
                        <tr>
                            <td>注册地址</td>
                            <td>{{invoice.registerAddress}}</td>
                        </tr>
                        <tr>
                            <td>注册电话</td>
                            <td>{{invoice.registerPhone}}</td>
                        </tr>
                        <tr>
                            <td>开户银行</td>
                            <td>{{invoice.bankDeposit}}</td>
                        </tr>
                        <tr>
                            <td>银行账户</td>
                            <td>{{invoice.bankAccount}}</td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
        <div class="ui-card" v-show="invoice.invoiceType>0&&isNeed>0">
            <!--merchantSupportInvoiceType != 3&&!canSubmitInvoice-->
            <button type="button" v-if="invoice.invoiceType == 1" class="ui-btn-lg ui-btn-primary  marT30 marB30" @click="saveOrderInvoice()" :disabled="merchantSupportInvoiceType == 0">确定</button>
            <button type="button" v-if="invoice.invoiceType == 2" class="ui-btn-lg ui-btn-primary  marT30 marB30" @click="saveOrderInvoice()" :disabled="!canSubmitInvoice">确定</button>
        </div>
    </form>
    <div class="ui-dialog" :class="{'show':showReceiptNotice}">
        <div class="ui-dialog-cnt">
            <div class="ui-dialog-bd">
                <div>
                    <h4></h4>
                    <div class="f12">
                        <p>1.发票金额不能高于订单实际支付金额。</p>
                        <p>2.为了享受厂商提供的质保服务，请您将商品发票开具为明细。如果您购买的是数码类、手机及配件、笔记本、台式机、家电类商品，为了保证您能充分享受生产厂家提供的售后服务（售后服务需根据发票确认您的购买日期），不管您是否需要开具发票，商家都将随单为您开具，发票内容默认为您订购的商品全称，提交订单时可修改发票内容。</p>
                        <p>3.不同物流开具的发票无法合并。</p>
                        <p>4.使用优惠券、礼品卡支付的金额不开具发票；积分换购商品不提供发票。</p>
                    </div>
                </div>
            </div>
            <div class="ui-dialog-ft ui-btn-group">
                <button type="button" data-role="button"  class="select" id="dialogButton<%=i%>" @click="showReceiptNotice = false">关闭</button> 
            </div>
        </div>        
    </div>
</section>

<!-- 报错 -->
<!-- <ui-actionsheet :show.sync="showInvoiceError">
    <h4>请输入发票抬头</h4>
</ui-actionsheet> -->
<!-- 没有地址 -->
<!--<ui-actionsheet :show.sync="popNoAddress" :back-event="vvv">-->
<!--<h4>您还没有收货地址，是否新建？</h4>-->
<!--<button v-link-to="'${contextPath}/my/address-chose.html'">新建</button>-->
<!--</ui-actionsheet>-->
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=${mapKey}"></script>
<script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
<script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
<script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
<script src="${staticPath}/libs/vendor.js?v=${version}"></script>
<script src="${staticPath}/common.js?v=${version}"></script>
<script src="${staticPath}/pay/pay.js?v=${version}"></script>
</body>
</html>