<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/libs/mob-share.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/my/coupons-list.css?v=${version}">
</head>

<body v-cloak>
    <ui-header title="优惠券" :back-event="redirectBack"></ui-header>

    <div class="ui-form marT10" v-if="">
        <div class="ui-form-item ui-form-item-show ui-border-b">
            <label class="cb2b2b2">券号</label>
            <input type="text" placeholder="请输入券号" class="c6" v-model="couponCode|selectItrim">
            <a href="#" class="ui-icon-close" v-show="couponCode" @click="couponCode=''"></a>
        </div>
        <div class="ui-form-item ui-form-item-show ui-border-b">
            <label class="cb2b2b2">密码</label>
            <input type="text" placeholder="请输入密码" class="c6" v-model="couponPsw|selectItrim">
            <a href="#" class="ui-icon-close" v-show="couponPsw" @click="couponPsw=''"></a>
        </div>
    </div>

    <!-- main section -->
    <section class="ui-container">
        <div class="proCode-tab">
            <div class="status-wrapper clearfix">
                <div class="status-item" v-for="(index,val) in status">
                    <p class="tab-li" :class="{'active':index == tabIndex-1}" @click="switchCoupons(index+1)">{{val}}</p>
                </div>
            </div>
        </div>
        <div class="group" v-for="coupon in showCouponsList" v-cloak>
            <div class="ui-row-flex coupon marT10" :class="[(tabIndex == 1) ? 'available' : 'na']">
                <div class="ui-col ui-col ui-border-r ui-flex ui-flex-align-center padL6 coupon-side">
                    <div class="amount cf">￥<span class="f40 cf">{{coupon.couponValue}}</span><p class="coupon-label text-center f12 cf">优惠券</p></div>
                </div>
                <div class="ui-col ui-col-2 coupon-content">
                    <div class="coupon-content-wrapper">
                        <h5><span class="f14 c3 bold h14px">{{coupon.themeTitle}}</span></h5>
                    <p class="f12 c6 lineH1 h14px marT10">{{coupon.moneyRule}}</p>
                    <p class="f12 cc lineH1 h14px marT10">{{coupon.startTime|date}}至{{coupon.endTime|date}}</p>
                    </div>
                    <p class="coupon-fold posR marT5" @click="coupon.isFold = !coupon.isFold">&nbsp;<i class="icons icons-coupon-arrow posA" :class="{'unfold':coupon.isFold}"></i></p>
                </div>
            </div>
            <div class="coupon-desc bgf f12 c6" v-show="!coupon.isFold">{{coupon.themeDesc}}</div>
        </div>

        <!--无数据时-->
        <div class="ui-row-flex ui-whitespace" v-if="noData" :style="{height:height-288+'px'}">
            <div class="ui-col ui-col text-center mgT10 mgB10">
                <i class="icons4  icons4-noGoods" :style="{marginTop:(height-288)/4+'px'}"></i>
                <p class="f12 c6">暂无数据...</p>
            </div>
        </div>

        <!--数据到底-->
        <div class="ui-row-flex ui-whitespace pdT10 pdB10" v-if="isEnd">
            <div class="ui-col ui-col text-center"><span class="f12 c6">没有更多了哦~</span></div>
        </div>
    </section>
    <!-- 分享组件 -->
    <ui-share :show.sync="showShare" :config.sync="shareConfig" :share="clickShareToFriend"></ui-share>
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/libs/mob-share.js?v=${version}" async></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/my/coupons-list.js?v=${version}"></script>
</body>

</html>