<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/my/my.css?v=${version}">
</head>
<body ontouchstart="" class="fans" v-need-login>
    <ui-header title="粉丝团" app-back="true"></ui-header>
    <!-- main section -->
    <section v-cloak class="ui-container">
        <div class="mgT10">
            <ul class="ui-list ui-list-text ui-border-t" :class="{'ui-arrowlink':fansCount > 0}" @click="toMyFans()">
                <li class="ui-border-t">
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap f14 c3" v-if="fans!='null'">我的粉丝（{{fansCount}}）</h4>
                        <h4 class="ui-nowrap f14 c3" v-if="fans=='null'">我的粉丝（0）</h4>
                        <p class="ui-nowrap f12 c9">注册会员但未消费</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mgT10">
            <ul class="ui-list ui-list-text ui-border-t" :class="{'ui-arrowlink':customerCount > 0}" @click="toMyCustomer()">
                <li class="ui-border-t">
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap f14 c3" v-if="fans!='null'">我的顾客（{{customerCount}}）</h4>
                        <h4 class="ui-nowrap f14 c3" v-if="fans=='null'">我的顾客（0）</h4>
                        <p class="ui-nowrap f12 c9">注册会员但未消费</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/my/fans.js?v=${version}"></script>
</body>
</html>