<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/member/member-company-buy.css?v=${version}">
</head>

<body v-need-login>
    <ui-header title="企业优购" app-back="true"></ui-header>
    <!--主体部分-->
    <section class="ui-container" v-cloak>
        <div class="ui-form  padT10 padB10" v-if="!hasEnterpriseSecret">
            <div class="ui-card2 padL10 padR10 marB10" >
                <p class="mgB5">请输入您的企业优购码：</p>
                <span class="disB bor1ddd pdT5 pdL5">
                    <input class="memberTextarea" v-model="memberInfo.enterpriseSecret" type="text" />
                </span>
            </div>
            <div class="ui-card2 padL10 padR10" >
                <button type="button" class="ui-btn ui-btn-lg ui-btn-primary" @click="saveMemberInfo">提交</button>
            </div>
        </div>
        <div class="ui-form padT10 padB10 BGT" v-else>
            <div class="ui-card2 marB10 padL10 padR10 padT10 padB10 fb">
                <p class="mgB5">欢迎您，尊敬的{{memberInfo.enterpriseName}}会员</p>
                <p>优购码：{{memberInfo.enterpriseSecret}}</p>
            </div>
            <div class="ui-card2 padL10 padR10 padT10 padB10">
                <p class="mgB5">若需要更换企业优购码，请在下方重新输入</p>
                <span class="disB bor1ddd pdT5 pdL5">
                    <input type="text" v-model="newEnterpriseSecret" class="memberTextarea"></textarea>
                </span>
            </div>
            <div class="ui-card2 padL10 padR10 padB10" >
                <button type="button" class="ui-btn ui-btn-lg ui-btn-primary" @click="changeMemberInfo">更换绑定</button>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/swiper/swipe.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/member/member-company-buy.js?v=${version}"></script>
</body>
</html>