<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/cart.css?v=${version}">
     
</head>

<body :style="{overflow:fixBody?'hidden':'auto'}" >
    <ui-header title="购物车">
        <a href="javascript:void(0)" v-if="!editStatus&&!noGoods" :class="{show:isLoaded}" class="handle h-nav" @click="editStatus = true">编辑</a>
        <a href="javascript:void(0)" v-if="editStatus&&!noGoods" :class="{show:isLoaded}" class="handle h-nav" @click="editStatus = false">完成</a>
        <!--<a href="javascript:void(0)" class="handle h-nav icon" :class="{'active':rightNavFlag}" @click="rightNavFlag = !rightNavFlag"></a>-->
        <div class="nav">
            <i class="arrow"></i>
            <a v-link-to-webapp="{web:'/index.html', app:'${appSchema}://home'}"><i class="icon icon-home-sm"></i>首页</a>
            <a class="borderNone" v-link-to-webapp="{web:'/my/home.html', app:'${appSchema}://goback'}"><i class="icon icon-user-sm"></i>&nbsp;&nbsp;我&nbsp;&nbsp;</a>
        </div>
    </ui-header>

    <!-- footer -->
    <ui-footer current="cart" :count.sync="cartCount"></ui-footer>

    <!-- 合计 -->
    <div class="total ui-border-t hide" v-cloak :class="{show:isLoaded}" v-if="!noGoods">
        <label class="ui-checkbox-s">
            <input type="checkbox" v-model="allChecked" @change="checkAllItems(selectAll)">
        <span class="select-all">全选</span>
    </label>
        <div class="money">
            <div class="price ui-nowrap" v-if="cartInfo.summary">
                <!--<span class="disIB ">合计: ¥</span>-->
                <span class="f15 c3">合计:<span class="money-cart f18">{{cartInfo.summary.amount | currency "¥"}}</span></span>
            </div>
            <div class="amount ui-nowrap" v-if="cartInfo.summary">
                <!--总额: {{cartInfo.summary.beforeAmount|currency '¥'}} 优惠：{{cartInfo.summary.beforeAmount-0-cartInfo.summary.amount|currency '¥'}}-->
                已优惠：{{cartInfo.summary.discount |currency '¥'}}，不含运费
            </div>
        </div>
        <!-- 拆单 -->
        <!--<div class="settlement" @click="showChaiDan = true">-->
        <!--去结算-->
        <!--</div>-->
        <div v-if="!noGoods">
            <div class="settlement disabled" v-if="checkedCount==0">
                去结算
            </div>
            <div class="settlement bgTf4cc53Tb48b32 c5c471a" v-if="checkedCount>0" @click="goPay">
                去结算({{cartInfo.summary.totalNum}})
            </div>
        </div>

        <div class="menu ui-border-t" :class="{'show': editStatus}">
            <!--<button class="ui-btn">分享</button>-->
            <button class="ui-btn ui-btn-primary" @click="beforeMoveToFavorite">移入收藏夹</button>
            <button class="ui-btn fr" @click="beforeDelete">删除</button>
        </div>
    </div>

    <!--白金卡会员 优惠-->
    <!-- <div class="platinum-sale" v-if="summary && summary.vipSavedAmount>0">
        <img src="${staticPath}/images/yizai-cart.png" height="45">
        <div class="cnt">
            <i class="lyf-icons lyf-platinum"></i>
            <span class="bold">白金会员</span> {{summary.vipDiscount*100}}折优惠 <span class="theme">-{{summary.vipSavedAmount | currency '¥'}}</span>
        </div>
    </div> -->

    <section class="ui-container" v-cloak>
        <!--公告-->
        <div class="t-notice" v-if="iShowNotice" @click="showNoticeAction()">
            <i class="lyf-icons lyf-notice fl"></i>
            <ul class="list" v-if="noticeList">
                <li class="ui-nowrap" v-for="h in noticeList">{{h.title}}</li>
            </ul>
            <i class="lyf-icons lyf-close" @click="iShowNotice = false"></i>
        </div>

        <!--遍历商家-->
        <div class="shangjia" v-for="(mInd,merchant) in cartInfo.merchantList" >
            <template v-for="group in merchant.productGroups">
                <ul class="ui-prod-list" :class="{'marT10': $index != 0}">
                    <!--促销优惠信息展示-->
                    <li class="group-promotion f12"  v-if="group.promotion">
                        <label class="ui-checkbox-s mgT0">
                            <input type="checkbox" v-model="group.checked" @change="selectItem(group.productList[0],merchant,group)" v-if="group.groupId && !group.disabled">
                            <!--<input type="checkbox" v-model="noStockList[product.mpId]" @change="selectItem(product)" v-if="(product.stockNum<=0 || product.disabled==1)&&editStatus">-->
                            <i class="icons icons-cart-disabled" v-if="group.groupId && group.disabled"  style="width: 28px;"></i>
                        </label>
                        <!--<span class="icon-text" :class="{'mj':group.promotion.promotionType==1002,'mz':group.promotion.promotionType==1006,'hg':(group.promotion.promotionType==1018 || group.promotion.promotionType==1019)}">{{group.promotion.promIconText}}</span>-->
                        <span class="promotion-icon-text">{{group.promotion.promIconText}}</span>
                        <div class="display-name ui-nowrap">{{group.promotion.displayName}}</div>
                        <div class="handle">
                            <span class="ui-arrowlink hide" v-link-to="'detail-include/package.html?mpId=' + group.productList[0].mpId + '&itemId=' + group.productList[0].itemId + '&groupId=' + group.groupId" :class="{show:group.promotion !=nudefined && group.promotion !=null && group.promotion.promotionType==1025}">修改套餐</span>
                            <span class="ui-arrowlink hide" v-link-to="'search.html?promotionId=' + group.promotion.promotionId" :class="{show:group.promotion.isReachCondition == 0 && group.promotion.promotionType!=1025}">去凑单</span>
                            <span class="btn hide" @click="viewGifts(group,false)" :class="{show:group.giftProductList.length>0&&(group.promotion.promotionType==1005 || group.promotion.promotionType==1006)&&!group.promotion.flag}">查看赠品</span>
                            <span class="btn hide" @click="viewGifts(group,true)" :class="{show:group.giftProductList.length>0&&(group.promotion.promotionType==1005 || group.promotion.promotionType==1006)&&group.promotion.flag}">选择赠品</span>
                            <span class="btn hide" @click="viewGifts(group,false)" :class="{show:group.giftProductList.length>0&&(group.promotion.promotionType==1018 || group.promotion.promotionType==1019)&&!group.promotion.flag}">查看换购</span>
                            <span class="btn hide" @click="viewGifts(group,true)" :class="{show:group.giftProductList.length>0&&(group.promotion.promotionType==1018 || group.promotion.promotionType==1019)&&group.promotion.flag}">选择换购</span>
                        </div>
                    </li>
                    <!--商品信息展示-->
                    <li v-for="product in group.productList" class="pdB10">
                      
                       
                       <label class="ui-checkbox-s">  
                            <input type="checkbox" v-model="product.checked" @change="selectItem(product,merchant)" v-if="((product.stockNum>0 && product.disabled!=1) || editStatus)&&!group.groupId">
                            <i class="icons icons-cart-disabled" v-if="(product.stockNum<=0 || product.disabled==1)&&!editStatus&&!group.groupId" style="width: 28px;"></i>
                        </label>
                        <div class="ui-list-thumb">
                            <span :style="{'background-image':'url('+product.url160x160+')'}" v-link-to="'/detail.html?itemId=' + (product.seriesParentId?product.seriesParentId:product.mpId)"></span>
                            <div class="inventory" v-if="product.stockNum<=0">暂无库存</div>
                            <div class="inventory" v-if="product.stockNum>0&&product.lackOfStock">库存紧张</div>
                        </div>
                        <div class="ui-list-info padR0 ">
                            <h4 class="f14 ui-nowrap">
                                <!--奖品-->
                                <span class="promotion-icon-text bgff6400" v-if="product.itemType==3">{{product.itemTxt}}</span>
                                <span class="theme" v-if="product.itemType!=3" v-for="tag in product.promotions">[{{tag.iconTxt}}]</span>{{product.name}}
                            </h4>
                            <!--<p class="ui-nowrap subname">进口食品进口食品进口食品进口食品进口食品进口食品进口食品</p>-->
                            <div class="ui-nowrap " v-if="product.disabled!=1">
                                <!--<span class="f12 c9">{{ product.propertyTags | fmtProductAttrs}}</span>-->
                                    <span class="ui-nowrap w60 disB fl">
                                        <span class="f12 c9 padR10 disB whNor " v-for="p in product.propertyTags | limitBy 4">{{p.name}}：{{p.value}}</span>
                                    </span>
                                    <span class="fr theme">¥{{product.price|cut true}}.{{product.price|cut}}</span>
                            </div>
                            <p class="f12 theme" v-if="product.disabled==1">{{product.disabledReason}}</p>
                            <ul class="jine">
                                <!--<li class="originalPrice">¥<span class="mainprice">{{product.originalPrice|cut true}}</span>.{{product.originalPrice|cut}}</li>-->
                                <!-- 服务商品 -->
                                <li class="f16" v-if="product.showServe">
                                    <!-- ¥{{product.originalPrice|cut true}}.{{product.originalPrice|cut}} -->
                                    <span class="serve" @click="addServiceProduct(product)">选择服务</span>
                                </li>
                                <li class="option fr" v-if="product.disabled!=1 && !group.groupId">
                                    <div class="opt-group">
                                        <button type="button" class="jian" :disabled="group.groupId||product.num<=1||product.stockNum<=0||product.disabled==1||product.itemType==3" @click="editNum(product,-1)">
                                            <i class="icons icons-reduce"></i>
                                        </button>
                                        <!-- <span class="input-text">{{product.num}}</span> -->
                                        <input type="tel" class="input-text" v-model="product.num" @input="checkInputNum(product)">
                                        <button type="button" class="jia" :disabled="group.groupId||product.stockNum<=product.num||product.stockNum<=0||product.disabled==1||product.itemType==3" @click="editNum(product,1)">
                                            <i class="icons icons-add"></i>
                                        </button>
                                    </div>
                                </li>
                                <li class="text-right mgT10 fr" v-if="group.groupId">
                                    <span class="input-text">x{{product.num}}</span>
                                </li>
                            </ul>
                        </div>
                        <!-- 服务商品，如果有服务商品则在此处显示，目前每种商品只有一种服务 -->
                        <div class="serve-product" v-if="showServiceProduct(product)">
                            <span class="c3 f14 serve-name">{{product.additionalProductList[0].name}}</span>
                            <span class="c6 num posA">X{{product.additionalProductList[0].num}}</span>
                            <span class="c3 fr mgR15" @click="removeServiceProduct(product.additionalProductList[0])">删除</span>
                            <span class="f15 theme fr mgR15">￥{{product.additionalProductList[0].price}}</span>
                        </div>
                        <!--<div class="has-xiangou" v-if="product.tipsMsg" v-cloak>-->
                            <!--<div class="xiangou">{{product.tipsMsg}}</div>-->
                        <!--</div>-->
                        <div class="tips-wrapper tips-wrapper-cart">
                            <!--编辑系列属性-->
                            <div class="cnt ui-arrowlink " @click="alertSerialProducts(product)" v-if="product.propertyTags&&product.propertyTags.length>0&&editStatus">
                                <div class="ui-arrowlink-span whNor">
                                    <span  v-for="prop in product.propertyTags" :class="{mgL10:$index>0}">{{prop.name}}：{{prop.value}}</span>
                                </div>
                            </div>
                            <!--限购 秒杀倒计时 提示-->
                            <div class="cnt theme" v-if="product.tipsMsg">{{product.tipsMsg}}</div>
                            <div class="cnt text-left" v-if="(product.ss>0 || product.mm>0 || product.hh>0) && product.disabled != 1">
                                <span class="theme pdR5">{{product.promotions[0].iconTxt}}商品</span>请在
                                <span v-if="product.day > 0">{{product.day}}:</span>{{product.hh}}:{{product.mm}}:{{product.ss}}
                                内完成订单
                            </div>
                        </div>
                    </li>
                    <hr class="split-gift" v-if="group.giftProductList.length>0"/>
                    <!--遍历赠品-->
                    <template v-for="giftList in group.giftProductList">
                        <li class="gift" v-for="gift in giftList.giftProducts|filterBy '1' in 'checked'">
                            <!--占位-->
                            <label class="ui-checkbox-s">
                                <input type="checkbox" style="opacity: 0">
                            </label>
                            <!--图片-->
                            <!--<div class="gift-stick"></div>-->
                            <div class="ui-list-thumb">
                                <span :style="{'background-image':'url('+gift.picUrl+')'}" v-link-to="'/detail.html?itemId=' + gift.mpId"></span>
                            </div>
                            <!--文描-->
                            <div class="ui-list-info">
                                <h4 class="f14 ui-nowrap">
                                    <span class="promotion-icon-text icff6900" v-if="group.promotion.promotionType==1005 || group.promotion.promotionType==1006 || group.promotion.promotionType==1007">赠品</span>
                                    <!--<span class="f12 theme" v-if="group.promotion.promotionType==1005 || group.promotion.promotionType==1006">[赠品]</span>-->
                                    <span class="promotion-icon-text bgb9be67" v-if="group.promotion.promotionType==1018 || group.promotion.promotionType==1019">换购</span>
                                    {{gift.giftName}}
                                </h4>
                                <p class="ui-nowrap baseL1"><span class="f12 c9" v-for="prop in gift.propertyTags" :class="{mgL10:$index>0}">{{prop.name}}：{{prop.value}}</span></p>
                                <p class="">
                                    <span class="f12 theme">¥</span><span class="f14 theme">{{gift.price|currency ''}}</span>
                                    <span class="f12 c9 mgL30 fr">X {{gift.checkNum}}</span>
                                </p>
                            </div>
                        </li>
                    </template>
                    <div class="deleteTaocan ui-border-t" v-if="group.groupId" @click="deleteTaocan(group)">删除套餐</div>
                </ul>
            </template>
        </div>

        <!--失效商品列表-->
        <ul class="ui-prod-list BGT">
            <li v-for="product in failureProducts">
                <label class="ui-checkbox-s">
                    <!--<input type="checkbox">-->
                    <i class="icons2 icons2-disable" style="width: 28px;"></i>
                </label>
                <div class="ui-list-thumb">
                    <span :style="{'background-image':'url('+product.picUrl+')'}" v-link-to="'/detail.html?itemId=' + product.mpId"></span>
                    <div class="inventory">该商品已失效</div>
                </div>
                <div class="ui-list-info">
                    <h4 class="f14 ui-nowrap">{{product.name}}</h4>
                    <p class="ui-nowrap baseL1"><span class="f14 c9" v-for="prop in product.propertyTags" :class="{mgL10:$index>0}">{{prop.name}}：{{prop.value}}</span></p>
                    <ul class="jine">
                        <li class="f12 c9">¥<span class="f20 c9">{{product.originalPrice|cut true}}</span><span class="f12 c9">.{{product.originalPrice|cut}}</span></li>
                    </ul>
                </div>
            </li>
        </ul>

        <!--清除失效商品-->
        <div class="ui-form" v-if="failureProducts.length>0">
            <div class="ui-form-item">
                <span class="ui-btn ui-btn-clear" @click="removeDisabledItems()" v-if="removeDisabledActive">清除失效宝贝</span>
                <span class="ui-btn ui-btn-clear" v-if="!removeDisabledActive" style="color: lightgray;">清除失效宝贝</span>
            </div>
        </div>
        <div class="ui-notice  hide" :class="{show:noGoods}">
            <img src="${staticPath}/images/cart-empty.png" width="220">
            <p class="c3">您的购物车还没有商品</p>
            <div class="ui-notice-btn w45">
                <a href="index.html" class="ui-btn ui-btn-primary ui-btn-lg">去逛逛</a>
            </div>
        </div>
        <!--购物车猜你喜欢-->
        
        <!-- <ui-guess-like :data="recoList" :title="'猜你喜欢'" :icons="'icons icons-guessLike'"></ui-guess-like> -->
        
    </section>

    <!-- 关注菜单 -->
    <ui-actionsheet :show.sync="showFavorite">
        <h4>确认要将这<span v-if="cartInfo.summary">{{checkedCount}}</span>种商品移入我的收藏夹？</h4>
        <button @click="moveToFavorite(selectAll)" style="color: #f74c31">确定</button>
    </ui-actionsheet>

    <!-- 删除菜单 -->
    <ui-actionsheet :show.sync="showDelete">
        <h4>确认要删除这<span v-if="cartInfo.summary">{{checkedCount}}</span>种商品吗？</h4>
        <button @click="removeItems(selectAll)" style="color: #f74c31">确定</button>
    </ui-actionsheet>

    <ui-actionsheet-pop title="您的商品需要分开结算" :show.sync="showChaiDan" v-if="false">
        <div class="chaidan-inner">
            <div class="pro-group ui-border-tb clearfix">
                <ul class="ui-row">
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                </ul>
                <button class="ui-btn ui-btn-primary gosettlement bgTf4cc53Tb48b32">去结算</button>
                <div class="clear"></div>
            </div>
            <div class="pro-group ui-border-tb clearfix">
                <ul class="ui-row">
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                    <li class="ui-col ui-col-33">
                        <div class="ui-list-thumb">
                            <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                    </li>
                </ul>
                <button class="ui-btn ui-btn-primary gosettlement bgTf4cc53Tb48b32">去结算</button>
                <div class="clear"></div>
            </div>
        </div>
        <div class="btn" @click="showChaiDan = false">
            <div class="ui-btn-lg ui-btn-primary no-radius">返回购物车</div>
        </div>
    </ui-actionsheet-pop>

    <!--选择赠品、选择换购列表菜单 BEGIN-->
    <div class="ui-actionsheet selectGifts" :class="{show:showGifts}" @click="showGifts = false">
        <!--<div class="w100 h100" @click="showGifts=false"></div>-->
        <div class="ui-actionsheet-cnt" @click="stopPropagation" v-if="thisGroup.promotion">
            <h4 class="f18 c6" v-if="giftEditable &&  (thisGroup.promotion.promotionType==1005 || thisGroup.promotion.promotionType==1006)">选择赠品</h4>
            <h4 class="f18 c6" v-if="!giftEditable && (thisGroup.promotion.promotionType==1005 || thisGroup.promotion.promotionType==1006)">查看赠品</h4>
            <h4 class="f18 c6" v-if="giftEditable && (thisGroup.promotion.promotionType==1018 || thisGroup.promotion.promotionType==1019)">选择换购</h4>
            <h4 class="f18 c6" v-if="!giftEditable && (thisGroup.promotion.promotionType==1018 || thisGroup.promotion.promotionType==1019)">查看换购</h4>
            <span class="close" @click="showGifts=false">×</span>
            <div class="selectGifts-wrap bgf ui-border-t">
                <!--赠品一-->
                <ul class="ui-list" v-for="gift in giftList" track-by="$index">
                    <li class="ui-border-b">
                        <div class="mgT15" v-if="giftEditable">
                            <label class="ui-checkbox-s">
                                <input type="checkbox" :check="gift.checked==1" :disabled="giftSelectList.length>=maxGiftNum&&giftSelectList.indexOf(gift.mpId)<0" :value="gift.mpId" v-model="giftSelectList">
                            </label>
                        </div>
                        <div class="ui-avatar">
                            <span :style="{'background-image':'url('+gift.picUrl+')'}"></span>
                        </div>
                        <div class="ui-list-info">
                            <h3 class="c6 ui-nowrap-multi">{{gift.giftName}}</h3>
                            <p class="ui-nowrap theme f12">{{(gift.price||0)|currency '¥'}}<span class="fr c6">X{{gift.checkNum}}</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="ui-list-info mgL30" @click="getGiftSerialProducts(gift.mpId)" v-if="gift.propertyTags.length>0">
                            <span class="f12 c6" v-for="prop in gift.propertyTags">{{prop.name}}：{{prop.value}}<span v-if="$index<gift.propertyTags.length-1">；</span></span>
                            <!--向上的箭头是 icons2-arrow-t-->
                            <i class="mgT15 gift-arrow icons2 ":class="{'icons2-arrow-t':serialMap.status[gift.mpId],'icons2-arrow-b':!serialMap.status[gift.mpId]}"></i>
                        </div>
                    </li>
                    <!--{{'length:'+gift.attributes.length}}-->
                    <!-- 赠品的系列属性-->
                    <template v-for="sp in serialMap.serial[gift.mpId]" v-if="serialMap.status[gift.mpId]">
                        <li>
                            <div class="ui-list-info mgL30 pd0">
                                <span class="f14 c6">{{sp.name}}</span>
                            </div>
                        </li>
                        <li class="serial-detail">
                            <div class="ui-list-info mgL30">
                                    <span class="attr attr-default ui-border radiusAll4"
                                          :class="{'attr-active': v.checked&&giftEditable&&!v.disabled,'attr-disable':!giftEditable||v.disabled}"
                                          @click="giftEditable&&!v.disabled?selectGiftAttributeValue(sp,v,gift,$parent.$index):noop()"
                                          v-for="v in sp.values">{{v.value}}</span>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
            <button class="ui-btn ui-btn-primary" @click="changeGifts(giftList)">完成</button>
        </div>
    </div>
    <!--选择赠品列表菜单 END-->

    <!--选择商品系列属性弹框-->
    <ui-serial-product :show.sync="showSizePop"
                       :item-info.sync="itemInfo" multi="true">
        <!--:item-id.sync="itemId">-->
        <li slot="cart-num" class="ui-border-b" v-cloak>
            <span>购买数量</span>
            <div class="chose-num">
                <span class="reduce" @click="plusAmount(-1)">-</span>
                <span class="num">{{itemSoldOut? 0 : itemAmount}}</span>
                <span class="plus" @click="plusAmount(1)">+</span>
            </div>
            <div style="clear:both;"></div>
        </li>
        <div slot="buttons" class="btn select-attr-box">
            <ul class="ui-tiled ui-tiled-btn" v-cloak>
                <li class="bgTheme ui-border-r" @click="updateCart(itemInfo.mpId)" v-if="!itemSoldOut">修改商品</li>
                <li class="soldout" v-if="itemSoldOut">已售完</li>
            </ul>
        </div>
    </ui-serial-product>

    <!--公告弹层-->
    <div class="ui-actionsheet" :class="{show:iShowNoticeAction}" @click=" iShowNoticeAction = false">
        <div class="ui-actionsheet-cnt ui-pop notice" @click="stopPropagation">
            <h2 class="text-center ui-border-b">公告</h2>
            <span class="close" @click="iShowNoticeAction=false">×</span>
            <div class="ui-scroller">
                <ul class="ui-list ui-list-pure" v-if="noticeList">
                    <li :class="{'ui-border-b':$index<noticeList.length-1}" v-for="notice in noticeList">
                        <h3 class="f15 c3">{{notice.name}}</h3>
                        <p class="ui-nowrap-multi-3">{{notice.content}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--&lt;!&ndash;选择商品系列属性弹框&ndash;&gt;-->
    <!--<ui-actionsheet-pop :show.sync="showSizePop">-->
    <!--<div class="sp-info ui-border-b">-->
    <!--<div class="info-img">-->
    <!--<img :src="itemPreviewImage">-->
    <!--</div>-->
    <!--<div class="info-word">-->
    <!--<div class="aid">¥<span class="f20">{{itemInfo.availablePrice || itemInfo.originalPrice}}</span><del v-if="itemInfo.availablePrice">¥{{itemInfo.originalPrice}}</del></div>-->
    <!--<div class="c6 item-code">商品编号：{{itemInfo.code}}</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<ul class="size-list">-->
    <!--<li class="ui-border-b" v-for="sa in serialAttributes">-->
    <!--<span>{{sa.name}}</span>-->
    <!--<div class="sort">-->
    <!--<span v-for="v in sa.values" :class="{active: v.checked}" @click="selectAttributeValue(sa, v)">{{v.value}}</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="ui-border-b">-->
    <!--<span>购买数量</span>-->
    <!--<div class="chose-num">-->
    <!--<span class="reduce" @click="plusAmount(-1)">-</span>-->
    <!--<span class="num">{{itemSoldOut? 0 : itemAmount}}</span>-->
    <!--<span class="plus" @click="plusAmount(1)">+</span>-->
    <!--</div>-->
    <!--<div style="clear:both;"></div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<div class="btn select-attr-box">-->
    <!--<ul class="ui-tiled ui-tiled-btn" v-cloak>-->
    <!--<li class="add ui-border-r" @click="updateCart(itemInfo.mpId)" v-if="!itemSoldOut">修改商品</li>-->
    <!--<li class="soldout" v-if="itemSoldOut">已售完</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</ui-actionsheet-pop>-->
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script>if(/MicroMessenger/i.test(navigator.userAgent)) document.write('<script src="//res.wx.qq.com/open/js/jweixin-1.1.0.js"><\/script>');</script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/swiper/swipe.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/cart.js?v=${version}"></script>
    <script>
//         !function() {
//             w=window;
//             w['da'] = w['da'] || function () {
//                         w['_daq']= w['_daq'] || [];
//                         w['_daq'].push(arguments);
//                     };
//             w['_vs_time'] = 1 * new Date();
//             var da = document.createElement("script");
//             da.src = "/libs/track.js";
//             da.async=1;
//             var e = document.getElementsByTagName("script")[0];
//             e.parentNode.insertBefore(da, e);
//         }();
//         w._content= {
//             accountId: 1,
//             companyId: 30,
// //            currentTime: new Date().getTime(),
//             systemId: '1',
//             trackType: '1',//1:页面加载 2:点击事件
//             pageCode: 'cart',
//             sessionId: 'sessionId',
// //            userId: 'gr_user_id',
//             guid: 'guid',
//             ut:'ut'
//         }
//         da('content',{'param':[{'mpId':'itemId'}]}) //获取url参数mpId,url中别名itemId
    </script>
</body>
</html>
