<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 让网站加入QQ登录接口 -->
    <meta property="qc:admins" content="24412715621136453467411615663757" />
    <!--  telephone=no 禁止把数字转化为拨号链接   -->
    <meta name="format-detection" content="telephone=no">
    <!--  uc强制竖屏 --> 
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
     <!-- winphone系统a、input标签被点击时产生的半透明灰色背景去掉 -->
    <meta name="msapplication-tap-highlight" content="no">
	<meta name="heimdall" content="首页">
    <title></title>
    <script type="text/javascript">
     
      console.log('映射成功ok123456111');
    </script>
     <!--  FrozenUI的CSS组件库  -->
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
     <!--  以下CSS文件打包后才存在  -->
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <!-- 项目主入口CSS文件  打包后才存在-->
    <link rel="stylesheet" href="${staticPath}/index.css?v=${version}">

</head>

<body :style="{overflow:(regisCouponsShow||regisCoupons)?'hidden':'auto',bgStyle:true}">
    <div v-show="!showLocation">
        <!--header-->
        <header class="ui-header ui-header-stable ui-header-index ui-border-b" v-cloak>

            <div class="location" @click="showLocation = true">
                <span class="ui-nowrap">{{locationCity}}</span>
                <i class="icons icons-down" v-if="showAddressIcon"></i>
            </div>
            <div class="search" style="right: 67px;" v-link-to.literal="/search.html"><i class="icon icon-search"></i>{{placeholder || '搜索欧普'}}</div>
            <div class="fr">
                <!--<i class="lyf-icons lyf-scan"></i>-->
                <i class="icons icons-share" @click="showShare = true"></i>
                <i class="icons icons-msg-gray" v-link-to-userpage.literal="/message/message-center.html"></i>
            </div>
        </header>
        <!-- footer -->
        <div class="float-tail" v-if="iShowFloatTail && floatTail" v-cloak>
            <a href="{{floatTail.linkUrl || 'javascript:void(0)'}}"><img width="100%" :src="floatTail.imageUrl" alt=""></a>
            <div class="close hide" :class="{'show':floatTail}" @click="iShowFloatTail=false"></div>
        </div>
        <ui-footer current="index" :count.sync="cartCount"></ui-footer>
        <section class="ui-container" :class="{'padB30':iShowFloatTail}" v-cloak>
            <div v-for="m in homePageData">
                <!-- 空白模板 -->
                <section v-if="m.templateCode == 'spacing'">
                    <div style="width: 100%" :style="{'height':m.spacing.height+'px','background-color':m.spacing.color}"></div>
                </section>
                <!-- 轮播 -->
                <section v-if="m.templateCode == 'ad_header' && lunbo.length > 0">
                    <div class="swipe" id="slider">
                        <div class="swipe-wrap">
                            <figure v-for="img in lunbo" v-link-to="img.linkUrl">
                                <a href="{{img.url || 'javascript:void(0)'}}"><img width="100%" :src="img.imageUrl" alt=""></a>
                            </figure>
                        </div>
                        <ul class="swipe-point">
                            <li :class="{active: $index == 0}" v-for="li in lunbo"></li>
                        </ul>
                    </div>
                </section>
                <!--分类导航-->
                <section v-if="m.templateCode == 'ad_channel' && channel.length > 0">
                    <div class="navigation" style="padding-bottom: 15px;">
                        <ul class="ui-row">
                            <li class="ui-col ui-col-20" v-for="nav in channel">
                                <a @click="toChannelLink(nav)">
                                    <img width="36" height="36" v-lazy="nav.imageUrl" alt="">
                                    <span>{{ nav.name }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 4个入口 接口未定义待修改-->
                <section v-if="m.templateCode == 'ad_entrance'">
                    <!--快速查询-->
                    <div class="fast-inquiry ui-border-t">
                        <ul class="ui-row">
                            <li class="ui-col ui-col-50" :class="{'ui-border-r':$index%2 == 0}" v-for="e in entrance" v-link-to="e.linkUrl">
                                <img class="ui-border-b" :src="e.imageUrl" width="98%">
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 热点 -->
                <section v-if="m.templateCode == 'news'">
                    <div class="headlines" id="headlines" v-if="headlines" v-cloak>
                        <!--<img class="logo" src="${staticPath}/images/headlines.png?v=${version}" alt="">-->
                        <i class="icons icons-hotNews logo"></i>
                        <ul class="list" v-if="headlines.pageResult && headlines.pageResult.listObj">
                            <li class="ui-nowrap" v-for="h in headlines.pageResult.listObj" v-link-to="h.articleLink">:&nbsp;{{h.displayTitle}}</li>
                        </ul>
                        <div class="ui-border-l"></div>
                        <a class="more" href="{{ headlines.categoryLink || 'javascript:void(0)'}}">更多</a>
                        <!-- <a class="more" v-link-to-userpage.literal="/my/market.html">更多</a> -->
                    </div>
                </section>
                <!--图片热点-->
                <section v-if="m.templateCode == 'h5_multipic' && m.multiPic.images.length > 0">
                    <div class="image-map" v-for="img in m.multiPic.images">
                        <a href="{{ img.url || 'javascript:void(0)' }}">
                            <img class="disB" :src="img.src" width="100%" :style="{'marginBottom':m.multiPic.margin+'px'}">
                        </a>
                    </div>
                </section>
                <!--秒杀-->
                <!--秒杀模块注释备用，与魔方模块取其一， 2017-06-08 -->
                <!--<section v-if="m.templateCode == 'secondKill'">-->
                    <!--<div class="ui-row bgw">-->
                        <!--<div class="ui-col ui-col-38" v-link-to="m.secondKill.url1">-->
                            <!--<img :src="m.secondKill.image1" width="100%" alt="" v-if="m.secondKill.image1 != ''">-->
                        <!--</div>-->
                        <!--<div class="ui-col ui-col-62">-->
                            <!--<div class="ui-row" v-link-to="m.secondKill.url2">-->
                                <!--<div class="ui-col">-->
                                    <!--<img :src="m.secondKill.image2" width="100%" alt="" v-if="m.secondKill.image2 != ''">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="ui-row-flex">-->
                                <!--<div class="ui-col" v-link-to="m.secondKill.url3">-->
                                    <!--<img :src="m.secondKill.image3" width="100%" alt="" v-if="m.secondKill.image3 != ''">-->
                                <!--</div>-->
                                <!--<div class="ui-col" v-link-to="m.secondKill.url4">-->
                                    <!--<img :src="m.secondKill.image4" width="100%" alt="" v-if="m.secondKill.image4 != ''">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</section>-->
                <!--魔方-->
                <section v-if="m.templateCode == 'index_cube'">
                    <ui-cube :data="m.staticData.cdata"></ui-cube>
                </section>
                <!--特色主题馆-->
                <section v-if="m.templateCode == 'slideShow'">
                    <!--<div class="module-name">-->
                    <!--<div class="inner">-->
                    <!--<h4><i class="lyf-icons lyf-features marR5"></i>特色主题馆</h4>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="module">
                        <div class="transverse padB10">
                            <ul class="theme-venue" :style="{'width': (screenWidth*(m.featuresTheme.imgWidth/100)+10)*m.featuresTheme.items.length+'px'}">
                                <li v-for="f in m.featuresTheme.items" v-link-to="f.url" :style="{'width':screenWidth*(m.featuresTheme.imgWidth/100)+'px'}">
                                    <img v-if="f.imgUrl" :src="f.imgUrl" :style="{'width':screenWidth*(m.featuresTheme.imgWidth/100)+'px'}">
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>
                <!--图片导航-->
                <section v-if="m.templateCode == 'channel'">
                    <div class="module channel-v1">
                        <div class="ui-row-flex daohang">
                            <div v-for="nav in m.staticData.channels" class="ui-col ui-col">
                                <template v-if="nav.src != null && nav.src != ''">
                                    <span v-link-to="nav.url"><img :src="nav.src"></span>
                                    <p>{{nav.text}}</p>
                                </template>
                            </div>
                        </div>
                    </div>
                </section>
                <!--本周热销榜单-->
                <section v-if="m.templateCode == 'rank' && rankingList.length>0">
                    <div class="module">
                        <div class="transverse" style="padding-top: 3px;">
                            <ul class="hot-ranking" :style="{width: 121*(rankingList.length+1)+'px'}">
                                <li class="ui-border-r" v-for="rank in rankingList">
                                    <img v-lazy="rank.picUrl" width="90" height="90" v-link-to="'/detail.html?itemId='+rank.mpId">
                                    <i class="lyf-icons lyf-ranking-1">{{$index+1}}</i>
                                    <p class="f12 padT10 ui-nowrap" style="padding-bottom: 5px;">{{rank.mpName}}</p>
                                    <p class="f12 ui-nowrap">
                                        <span class="theme" v-if="rank.availablePrice">{{rank.availablePrice | currency '¥'}}</span>
                                        <span class="theme" v-if="!rank.availablePrice">{{rank.originalPrice | currency '¥'}}</span>
                                        <del class="f10 c9 padL10" v-if="rank.availablePrice">{{rank.originalPrice | currency '¥'}}</del>
                                    </p>
                                </li>
                                <li style="padding:0" v-if="rankingList.length > 0" v-link-to="m.staticData.link.data">
                                    <img src="${staticPath}/images/home-rank-detail.png" width="120" height="167">
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--轮播 多图-->
                <section v-if="m.templateCode == 'slider' && m.slider.images">
                    <div class="swipe">
                        <div class="swipe-wrap">
                            <figure v-for="img in m.slider.images">
                                <img width="100%" :src="img.src" alt="" @click="golink(img)">
                            </figure>
                        </div>
                        <ul class="swipe-point" style="text-align: center;bottom: 8px">
                            <li :class="{active: $index == 0}" v-for="li in m.slider.images"></li>
                        </ul>
                    </div>
                </section>
                <!--富文本-->
                <section v-if="m.templateCode == 'rich-text'">
                    <div v-html="m.staticData.con"></div>
                </section>
                <!--单列大图-->
                <section v-if="m.templateCode == 'goods-r1c1b'" id="lockBar1" :class="{padT60:lock}">
                    <!--栏目分类列表-->
                    <div id="moduleTab" :class={lockNav:lock} v-if="moduleCategoryR1c1b.length>0 && m.staticData.displayNav == 1" style="height:57px;">
                        <div class="prod-tab">
                            <div class="transverse">
                                <ul class="ui-row" :style="{width: 80*moduleCategoryR1c1b.length+'px'}">
                                    <li class="ui-col ui-nowrap" :class="{'active': selectedmoduleCategoryIdR1c1b == c.categoryId,'ui-border-r': $index != moduleCategory.length-1}"
                                        v-for="c in moduleCategoryR1c1b" @click="getModuleProdList(c.categoryId,'goods-r1c1b',m.moduleId)">
                                        <img width="15" height="15" :src="c.pictureUrl || '${staticPath}/images/logo.png'" alt="" style="display: inline-block">
                                        <p class="ui-nowrap">{{c.categoryName}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--栏目商品数据-->
                    <div class="prod-list r1c1b">
                        <div class="warp" v-for="pro in moduleProdListR1c1b">
                            <div class="item">
                                <div class="prod-img-r1c1b">
                                    <img v-lazy="pro.picUrl|imgSize 'm'" v-link-to="'/detail.html?itemId=' + pro.mpId">
                                </div>
                                <p class="label" v-if="pro.promotionIconTexts.length > 0">
                                    <span class="promotion-icon-text" v-for="txt in pro.promotionIconTexts">{{txt}}</span>
                                </p>
                                <h5 class="ui-nowrap" v-link-to="'/detail.html?itemId=' + pro.mpId">{{pro.mpName}}</h5>
                                <div class="price ui-nowrap">
                                    <span v-if="pro.availablePrice">{{pro.availablePrice | currency '¥'}}</span>
                                    <span v-if="!pro.availablePrice">{{pro.originalPrice | currency '¥'}}</span>
                                    <del v-if="pro.availablePrice">{{pro.originalPrice | currency '¥'}}</del>
                                </div>
                                <span class="add-to-cart" @click="addItemInCart(pro)" v-if="m.staticData.displayBuyBtn == 1">
                                    <i class="lyf-icons lyf-cartRed"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nomore" v-if="nomore" v-cloak>没有更多了</div>
                </section>
                <!--栏目分类-->
                <section v-if="m.templateCode == 'goods'" id="lockBar" :class="{padT60:lock}">
                    <!--栏目分类列表-->
                    <div id="moduleTab" :class={lockNav:lock} v-if="moduleCategory.length>0 && m.staticData.displayNav == 1" style="height:57px;">
                        <div class="prod-tab">
                            <div class="transverse">
                                <ul class="ui-row" :style="{width: 80*moduleCategory.length+'px'}">
                                    <li class="ui-col ui-nowrap" :class="{'active': selectedmoduleCategoryId == c.categoryId,'ui-border-r': $index != moduleCategory.length-1}"
                                        v-for="c in moduleCategory" @click="getModuleProdList(c.categoryId,'goods',m.moduleId)">
                                        <img width="15" height="15" :src="c.pictureUrl || '${staticPath}/images/logo.png'" alt="" style="display: inline-block">
                                        <p class="ui-nowrap">{{c.categoryName}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--栏目商品数据-->
                    <div class="prod-list">
                        <div class="warp" v-for="pro in moduleProdList">
                            <div class="item">
                                <div class="prod-img">
                                    <img v-lazy="pro.picUrl|imgSize 'm'" v-link-to="'/detail.html?itemId=' + pro.mpId">
                                </div>
                                <p class="label">
                                    <span class="promotion-icon-text" v-for="txt in pro.promotionIconTexts">{{txt}}</span>
                                </p>
                                <h5 class="ui-nowrap" v-link-to="'/detail.html?itemId=' + pro.mpId">{{pro.mpName}}</h5>
                                <div class="price ui-nowrap">
                                    <span v-if="pro.availablePrice">{{pro.availablePrice | currency '¥'}}</span>
                                    <span v-if="!pro.availablePrice">{{pro.originalPrice | currency '¥'}}</span>
                                    <del v-if="pro.availablePrice">{{pro.originalPrice | currency '¥'}}</del>
                                </div>
                                <!--<p class="sales">已售{{pro.mpSalesVolume || 0}}笔</p>-->
                                <span class="add-to-cart" @click="addItemInCart(pro)" v-if="m.staticData.displayBuyBtn == 1">
                                    <i class="lyf-icons lyf-cartRed"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nomore" v-if="nomore" v-cloak>没有更多了</div>
                </section>
            </div>
        </section>
    </div>
    <!--底部工具-->
    <ui-scroll-top v-ref:scrollTop></ui-scroll-top>
    <ui-set-position :show.sync="showLocation" :call-back="updateLocation"></ui-set-position>
    <ui-message fixed="true" top="7" right="5"></ui-message>
    <!--弹屏-->
    <div class="ui-actionsheet tan-pin" :class="{'show':tanPin}" v-cloak>
        <div class="tanpin-inner">
            <div class="img">
                <a @click="toTanPingLink">
                    <img width="100%" alt="" :src="newcomers_popup.imageUrl">
                </a>
            </div>
            <div class="close hide" :class="{'show':newcomers_popup.imageUrl}" @click="tanPin=false">×</div>
        </div>
    </div>
    <!--弹屏-注册送券-->
    <div class="ui-actionsheet tan-pin" :class="{'show':regisShow}" v-cloak>
        <div class="tanpin-inner">
            <div class="img">
                <img width="100%" alt="" :src="regis_popup.imageUrl" @click="goRegis()">
            </div>
            <div class="regisClose">
                <img src="${staticPath}/images/close.png" alt="" @click="regisShow = false">
            </div>
        </div>
    </div>
    <!--<div class="ui-dialog shareRedPacket" :class={show:shareShow}>
        <div class="ui-dialog-cnt">
            <div class="ui-dialog-bd">
                <div class="redPacketImg">
                    <img src="${staticPath}/images/ic_lucky_money.png" alt="">
                </div>
                <div class="shareText text-center">
                    <p class="theme f16">送你一份见面礼</p>
                    <p class="c3 f12">新人专享优惠券，先到先得</p>
                </div>
                <div class="shareBtn">
                    <button>注册领取</button>
                </div>
                <div class="close">
                    <img src="${staticPath}/images/close.png" alt="" @click="shareShow = false">
                </div>
            </div>
        </div>
    </div>-->
    <!--注册后送的券-->
    <div class="ui-actionsheet couponsList" :class="{'show':regisCouponsShow}" v-cloak>
        <div class="close">
            <img src="${staticPath}/images/close.png" alt="" @click="regisCouponsShow = false">
        </div>
        <div class="container">
            <div class="coupons">
                <div class="ui-row-flex ui-flex-align-center bg-item marB10" v-for="item in canUseCouponList">
                    <div class="ui-col ui-col-1 text-center line75">
                        <div class="theme">
                            <span class="bold f14">¥</span><span class="f26">{{item.couponValue}}</span>
                        </div>
                    </div>
                    <div class="ui-col ui-col-2">
                        <p class="c3 f14 mgL15 ui-nowrap"><span class="bold">{{item.moneyRule}}</span><br>
                        <span class="c3  f13">有限期：{{item.endTime | datedot}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="btn-go" @click="goHome()">赶紧去买买买吧！</div>
        </div>
    </div>
    <ui-share :show.sync="showShare" :config.sync="shareConfig"></ui-share>
    <!-- 以下标签路径有误 文件格式有误 可取消？ -->
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script>
        if (!/MicroMessenger/i.test(navigator.userAgent)) document.write(
            '<script src="https://g.alicdn.com/aliww/h5.openim.sdk/1.0.6/scripts/wsdk.js"><\/script>');
    </script>
    <script>if(/MicroMessenger/i.test(navigator.userAgent)) document.write('<script src="//res.wx.qq.com/open/js/jweixin-1.1.0.js"><\/script>');</script>
    <!-- 以下为zepto  js库 -->
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <!-- 以下为swipe  移动端滑动 JS 库 -->
    <script src="${staticPath}/libs/swiper/swipe.js?v=${version}"></script>
     <!-- FrozenJS 是针对移动端开发的 js 组件库，其依赖 zepto.js 和 FrozenUI -->
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/mob-share.js?v=${version}" async></script>
    <!-- HammerJS是一个优秀的、轻量级的触屏设备手势库 -->
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=${mapKey}"></script>
    <!-- 与company相关的业务相关配置   -->
    <script src="${staticPath}/common.js?v=${version}"></script>
    <!-- VUE项目入口文件 -->
    <script src="${staticPath}/index.js?v=${version}"></script>
    <script>        
        !function() {
            w=this;
            w['da'] = w['da'] || function () {
                        w['_daq']= w['_daq'] || [];
                        w['_daq'].push(arguments);
                    };
            w['_vs_time'] = 1 * new Date();
            var da = document.createElement("script");
            da.src = "${staticPath}/libs/track.js?v=${version}";
            da.async=1;
            var e = document.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(da, e);
        }();
        w._content= {
            accountId: 1,
            companyId: 30,
//            currentTime: new Date().getTime(),
            systemId: '1',
            trackType: '1',//1:页面加载 2:点击事件
            pageCode: 'index',
            sessionId: 'sessionId',
//            userId: 'gr_user_id',
            guid: 'guid',
            ut:'ut'
        }
        da('content');
    </script>
</body>

</html>