<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="screen-orientation" content="portrait">
        <meta name="x5-orientation" content="portrait">
        <meta name="msapplication-tap-highlight" content="no">
        <title></title>
        <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
        <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
        <link rel="stylesheet" href="${staticPath}/my/preferential.css?v=${version}">
    </head>
    <!---->
    <body v-need-login>
        <ui-header title="收藏" app-back="true">
            <!--v-show="detailTab == 'collect1' "收藏文章-->
            <label>
            <a href="javascript:void(0)" class="handle" v-if="!editStatus" @click="editStatus = true">编辑</a>
            <a href="javascript:void(0)" class="handle" v-if="editStatus"  @click="editStatus = false">完成</a>
            </label>
        </ui-header>
        <!-- main section -->

        <section class="ui-container">
            <ul class="ui-tab-content">
            <!-- -->
                <!-- 商品列表 -->
                <!--无数据时-->
                <div class="ui-row-flex ui-whitespace" v-if="goodList.length==0" v-show="detailTab == 1 ">
                    <div class="ui-col ui-col text-center mgT10 mgB10">
                        <i class="icons3  icons3-search-no"></i>
                        <p class="f12 c6">暂无数据...</p>
                    </div>
                </div>
                <ul class="ui-list " v-if="goodList.length>0" v-show="detailTab == 1 ">
                    <div class="goodmount">共{{totalCount}}件商品</div>
                    <li class="ui-border-b" v-for="good in goodList" :class="{wuhuo:good.managementState==0}">
                        <label class="ui-checkbox-s marT38" v-if="editStatus && detailTab == '1'">
                            <input type="checkbox" v-model="good.checked">
                        </label>
                        <div class="ui-list-thumb bigimg">
                            <span><img :src="good.picUrl" width="100px" height="100px"></span>
                            <div class="state" v-if="good.stockNum==0">无货</div>
                            <div class="state" v-if="good.managementState==0">商品已下架</div>
                        </div>
                        <div class="pro-info" v-link-to-item="good.mpId">
                            <h4 class="ui-nowrap-multi">{{good.chineseName}}</h4>
                            <p class="jine">
                                <span class="price">￥<span class="main-price">{{good.price}}</span></span>
                                <span class="ogn-price">￥{{good.originalPrice}}</span>
                            </p>
                            <p class="sales" v-if="good.mpSalesVolume>0">已售{{good.mpSalesVolume}}笔</p>
                            <p class="sales" v-if="good.mpSalesVolume==null||good.mpSalesVolume==0">已售0笔</p>
                        </div>
                    </li>
                </ul>
                <!-- 文章列表 -->
                <!--无数据时-->
                <div class="ui-row-flex ui-whitespace" v-if="passageList.length==0" v-show="detailTab == 2 ">
                    <div class="ui-col ui-col text-center mgT10 mgB10">
                        <i class="icons3  icons3-search-no"></i>
                        <p class="f12 c6">暂无数据...</p>
                    </div>
                </div>
                <ul class="ui-list " v-if="passageList.length>0" v-show="detailTab == 2 ">
                    <div class="goodmount">共{{totalCountpassage}}篇文章</div>
                    <li class="ui-border-b" v-for="passage in passageList">
                        <label class="ui-checkbox-s marT38" v-if="editStatus && detailTab == '2'">
                            <input type="checkbox" v-model="passage.checked">
                        </label>
                        <div class="ui-list-thumb mediumimg" v-link-to="'${contextPath}/cms/view/h5/article/'+passage.articleId+'.html'">
                            <span >
                            <img :src="passage.url160x160  || '${staticPath}/images/item_default.png?v=${version}'" width="100%" height="100%">
                            </span>
                        </div>
                        <div class="article" v-link-to="'${contextPath}/cms/view/h5/article/'+passage.articleId+'.html'">
                            <!--<span class="theme hide" :class="{'show': art.isTop == 1}">[置顶]</span>-->
                            <h4 class="ui-nowrap-multi"> #{{passage.title}}#{{passage.content}}</h4>
                            <p class="date">{{passage.createTimeStr}}</p>
                        </div>
                    </li>
                </ul>
                <footer class="padbtn" :class="{show:editStatus}" v-if="goodList.length>0&&detailTab == 1"><!-- 菜单点击删除时，加上show类样式 -->
                    <button class="bgTf4cc53Tb48b32" @click="deleteFavorite(selectAll)" >删除 ({{selectAll.length||0}})</button>
                </footer>
                <footer class="padbtn" :class="{show:editStatus}"v-if="passageList.length>0&&detailTab == 2"><!-- 菜单点击删除时，加上show类样式 -->
                    <button class="bgTf4cc53Tb48b32" @click="deleteFavorite(selectAll2)" >删除 ({{selectAll2.length||0}})</button>
                </footer>
                    <!--</div>-->
            <!-- 我的足迹 -->
                <!--<div v-show="detailTab == 'collect3' ">-->
            <!--<div class="group ">-->
                <!--<div class="group-date">07-25</div>-->
                <!--<ul class="ui-list">-->
                    <!--<li class="ui-border-b wuhuo">-->
                        <!--<div class="ui-list-thumb bigimg">-->
                            <!--<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>-->
                            <!--<div class="state">无货</div>-->
                        <!--</div>-->
                        <!--<div class="pro-info">-->
                            <!--<h4 class="ui-nowrap-multi">雪纺连衣裙夏季中裙修身显瘦韩版学生 女装中长款小清新裙子</h4>-->
                            <!--<p class="label">-->
                                <!--&lt;!&ndash; <span class="manjian">满减</span>-->
                                <!--<span class="manzeng">满赠</span>-->
                                <!--<span class="youhuiquan">优惠券</span>-->
                                <!--<span class="shoujizhuanxiang">手机专享</span> &ndash;&gt;-->
                            <!--</p>-->
                            <!--<p class="jine">-->
                                <!--<span class="price">￥<span class="main-price">89</span>.00</span>-->
                                <!--<span class="ogn-price">￥945.00</span>-->
                            <!--</p>-->
                            <!--<p class="sales">-->
                                <!--已售849笔-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="ui-border-b wuhuo">-->
                        <!--<div class="ui-list-thumb bigimg">-->
                            <!--<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>-->
                            <!--<div class="state">该商品已下架</div>-->
                        <!--</div>-->
                        <!--<div class="pro-info">-->
                            <!--<h4 class="ui-nowrap-multi">雪纺连衣裙夏季中裙修身显瘦韩版学生 女装中长款小清新裙子</h4>-->
                            <!--<p class="label">-->
                                <!--&lt;!&ndash; <span class="manjian">满减</span>-->
                                <!--<span class="manzeng">满赠</span>-->
                                <!--<span class="youhuiquan">优惠券</span>-->
                                <!--<span class="shoujizhuanxiang">手机专享</span> &ndash;&gt;-->
                            <!--</p>-->
                            <!--<p class="jine">-->
                                <!--<span class="price">￥<span class="main-price">89</span>.00</span>-->
                                <!--<span class="ogn-price">￥945.00</span>-->
                            <!--</p>-->
                            <!--<p class="sales">-->
                                <!--已售849笔-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="group ">-->
                <!--<div class="group-date">07-24</div>-->
                <!--<ul class="ui-list">-->
                    <!--<li class="ui-border-b">-->
                        <!--<div class="ui-list-thumb bigimg">-->
                            <!--<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>-->
                        <!--</div>-->
                        <!--<div class="pro-info">-->
                            <!--<h4 class="ui-nowrap-multi">雪纺连衣裙夏季中裙修身显瘦韩版学生 女装中长款小清新裙子</h4>-->
                            <!--<p class="label">-->
                                <!--&lt;!&ndash; <span class="manjian">满减</span>-->
                                <!--<span class="manzeng">满赠</span>-->
                                <!--<span class="youhuiquan">优惠券</span>-->
                                <!--<span class="shoujizhuanxiang">手机专享</span> &ndash;&gt;-->
                            <!--</p>-->
                            <!--<p class="jine">-->
                                <!--<span class="price">￥<span class="main-price">89</span>.00</span>-->
                                <!--<span class="ogn-price">￥945.00</span>-->
                            <!--</p>-->
                            <!--<p class="sales">-->
                                <!--已售849笔-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="ui-border-b">-->
                        <!--<div class="ui-list-thumb bigimg">-->
                            <!--<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>-->
                        <!--</div>-->
                        <!--<div class="pro-info">-->
                            <!--<h4 class="ui-nowrap-multi">雪纺连衣裙夏季中裙修身显瘦韩版学生 女装中长款小清新裙子</h4>-->
                            <!--<p class="label">-->
                                <!--&lt;!&ndash; <span class="manjian">满减</span>-->
                                <!--<span class="manzeng">满赠</span>-->
                                <!--<span class="youhuiquan">优惠券</span>-->
                                <!--<span class="shoujizhuanxiang">手机专享</span> &ndash;&gt;-->
                            <!--</p>-->
                            <!--<p class="jine">-->
                                <!--<span class="price">￥<span class="main-price">89</span>.00</span>-->
                                <!--<span class="ogn-price">￥945.00</span>-->
                            <!--</p>-->
                            <!--<p class="sales">-->
                                <!--已售849笔-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="ui-border-b">-->
                        <!--<div class="ui-list-thumb bigimg">-->
                            <!--<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>-->
                        <!--</div>-->
                        <!--<div class="pro-info">-->
                            <!--<h4 class="ui-nowrap-multi">雪纺连衣裙夏季中裙修身显瘦韩版学生 女装中长款小清新裙子</h4>-->
                            <!--<p class="label">-->
                                <!--&lt;!&ndash; <span class="manjian">满减</span>-->
                                <!--<span class="manzeng">满赠</span>-->
                                <!--<span class="youhuiquan">优惠券</span>-->
                                <!--<span class="shoujizhuanxiang">手机专享</span> &ndash;&gt;-->
                            <!--</p>-->
                            <!--<p class="jine">-->
                                <!--<span class="price">￥<span class="main-price">89</span>.00</span>-->
                                <!--<span class="ogn-price">￥945.00</span>-->
                            <!--</p>-->
                            <!--<p class="sales">-->
                                <!--已售849笔-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
                    <!--</div>-->
                </ul>
        </section>
      <!--  </section>-->
        <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
        <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
        <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
        <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
        <script src="${staticPath}/common.js?v=${version}"></script>
        <script src="${staticPath}/my/collect.js?v=${version}"></script>
    </body>
</html>