<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/category.css?v=${version}">
</head>
<body ontouchstart="">
    <div v-if="!showLocation">
        <!-- header -->
        <header class="ui-header ui-border-b" v-cloak>
            <div class="left">
                <i class="icon icon-scan"></i>
            </div>
            <div class="search" v-link-to.literal="${contextPath}/search.html"><i class="icon icon-search"></i>{{placeholder || '搜索来伊份'}}</div>
            <div class="right">
                <i class="icon icon-message"></i>
            </div>
        </header>

        <!-- section -->
        <section class="ui-container" v-cloak>
            <div class="category">
                <div class="category-tab">
                    <ul>
                        <li class="ui-nowrap ui-border-b" >
                            <div class="cnt" :class="{current: currentCategoryId == 0}" @click="getRecommend()">
                                <p class="ui-nowrap">推荐分类</p>
                            </div>
                        </li>
                        <li class="ui-nowrap ui-border-b"  v-for="parent in parentCategories" @click="getChildrenCategories(parent.categoryId)">
                            <div class="cnt"  :class="{current: parent.categoryId == currentCategoryId}">
                                <p class="ui-nowrap">{{parent.categoryName}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="category-content">
                    <!--推荐-->
                    <div class="category-content-wrapper" v-if="currentCategoryId == 0">
                        <div class="marL20" v-if="noRecommend">暂无推荐~</div>
                        <div class="swipe" v-if="lunbo.length > 0">
                            <div class="swipe-wrap">
                                <figure v-for="img in lunbo">
                                    <a href="{{img.linkUrl || 'javascript:void(0)'}}"><img :src="img.imageUrl|imgSize 'xl' 90" alt=""></a>
                                </figure>
                            </div>
                            <ul class="swipe-point">
                                <li :class="{active: $index == 0}" v-for="li in lunbo"></li>
                            </ul>
                        </div>
                        <div class="posR" v-if="hotTitle.content">
                            <div class="title">
                                <h1 class="f12 c3 bold">{{hotTitle.title}}</h1>
                            </div>
                            <ul class="ui-row">
                                <li class="ui-col ui-col-33" v-for="h in hotProduct">
                                    <div class="item" v-link-to="'${contextPath}/detail.html?itemId='+h.refId">
                                        <img v-lazy="h.imageUrl|imgSize 's'" width="100%">
                                        <p class="text-center c6 ui-nowrap-multi">{{h.name}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="posR" v-if="commonTitle.name">
                            <div class="title">
                                <h1 class="f12 c3 bold">{{commonTitle.title}}</h1>
                            </div>
                            <ul class="ui-row">
                                <li class="ui-col ui-col-33" v-for="c in commonProduct">
                                    <div class="item" v-link-to="'${contextPath}/detail.html?itemId='+c.refId">
                                        <img v-lazy="c.imageUrl|imgSize 's'" width="100%">
                                        <p class="text-center c6 ui-nowrap-multi">{{c.name}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="category-content-wrapper" v-if="currentCategoryId != 0">
                        <div class="posR" v-for="cc in childrenCategories">
                            <div class="title">
                                <h1 class="f12 c3 bold">{{cc.categoryName}}</h1>
                            </div>
                            <ul class="ui-row">
                                <li class="ui-col ui-col-33" v-for="c in cc.children">
                                    <div class="item" v-link-to="'${contextPath}/search.html?from=c&categoryId=' + c.categoryId">
                                        <img v-lazy="c.pictureUrl|imgSize 's'" width="100%">
                                        <p class="text-center c6 ui-nowrap-multi">{{c.categoryName}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <ui-footer current="category"></ui-footer>
    </div>

    <ui-set-position :show.sync="showLocation" :call-back="updateLocation"></ui-set-position>
    <ui-message fixed="true" top="7" right="5"></ui-message>
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script>if(!/MicroMessenger/i.test(navigator.userAgent)) document.write('<script src="https://g.alicdn.com/aliww/h5.openim.sdk/1.0.6/scripts/wsdk.js"><\/script>');</script>
    <script src="${staticPath}/libs/swiper/swipe.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/category.js?v=${version}"></script>
</body>
</html>
