<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/my/my-answer.css?v=${version}">
</head>

<body v-cloak v-need-login>
    <ui-header title="我的问答">
    </ui-header>
    <section class="ui-container">
        <div class="package-tab">
            <div class="tab-item active" :class="{'active':currentTab == 0}" @click="swithTab(0)">帮我回答</div>
            <div class="tab-item" :class="{'active':currentTab == 1}" @click="swithTab(1)">等我去答</div>
            <div class="tab-item" :class="{'active':currentTab == 2}" @click="swithTab(2)">我的回答</div>
        </div>
        <ul v-show="currentTab == 0 || currentTab == 2">
            <li class="ask-list" v-for="item in askList">
                <div class="mgT10 ui-row-flex">
                    <div class="w10">
                        <i class="icons icons-wen-l mgR5"></i>                        
                    </div>
                    <div class="w90">
                        <span class="f16 c3 wb">{{item.content}}</span>                        
                    </div>
                </div>
                <div class="mgT10 ui-row-flex">
                    <div class="w10">
                        <i class="icons icons-da-l mgR5"></i>                        
                    </div>
                    <div class="w90">
                        <span class="f16 c6 wb" v-if="item.listObj.length > 0">{{item.listObj[0].content}}</span>                        
                        <span class="f16 c6" v-else>暂无回复</span>                        
                    </div>
                </div>
                <div class="c9 f12 of mgT10">
                    <span class="c0046aa mgLp10" v-if="item.listObj.length > 0" v-link-to="'/detail-include/ask-answer.html?askId=' + item.id">查看{{item.listObj.length}}个回答</span>
                    <span class="fr">{{item.createTime | dateTime}}</span>
                </div>
            </li>
        </ul>
        <ul v-show="currentTab == 1">
            <li class="ask-list" v-for="item in askList">
                <div class="mgT10 ui-row-flex">
                    <div class="w10">
                        <i class="icons icons-wen-l mgR5"></i>                        
                    </div>
                    <div class="w90">
                        <span class="f16 c3 wb">{{item.content}}</span>                        
                    </div>
                </div>
                <div class="c9 f12 of mgT10">
                    <span class="mgLp10">{{item.createTime | dateTime}}</span>
                    <span class="fr theme f14" v-link-to="'/detail-include/ask-answer.html?askId=' + item.id">去回答<i class="icons-redArrowDown icons"></i></span>
                </div>
            </li>
        </ul>
    </section>
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script>if(/MicroMessenger/i.test(navigator.userAgent)) document.write('<script src="//res.wx.qq.com/open/js/jweixin-1.1.0.js"><\/script>');</script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/my/my-answer.js?v=${version}"></script>
</body>
</html>
