<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/my/my.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/my/partner.css?v=${version}">
</head>
<body ontouchstart="" class="brandhome" v-need-login>
    <ui-header title="消费商" app-back="true"></ui-header>
    <!-- main section -->
    <section v-cloak class="mgT43">
        <div class="ui-tab bgf" id="tab1">
            <ul class="ui-tab-nav ui-border-b">
                <li :class="{'current': currentTab == 1}" @click="switchTab(1)">一级店铺</li>
                <li :class="{'current': currentTab == 2}" @click="switchTab(2)">二级店铺</li>
                <li :class="{'current': currentTab == 3}" @click="switchTab(3)">三级店铺</li>
            </ul>
            <ul class="ui-tab-content" style="width:100%">
                <!--店铺-->
                <li>
                    <table class="ui-table ">
                        <thead>
                        <tr>
                            <th></th>
                            <th>今日</th>
                            <th>昨日</th>
                            <th>本周</th>
                            <th>本月</th>
                            <th>全部</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>全部</td>
                            <td>{{subStatistics.todayCount}}</td>
                            <td>{{subStatistics.lastDayCount}}</td>
                            <td>{{subStatistics.weekCount}}</td>
                            <td>{{subStatistics.monthCount}}</td>
                            <td>{{subStatistics.totalCount}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <section class="ui-input-wrap pd12px ">
                        <div class="ui-input ui-border-radius h35pxline35px">
                            <input type="text" name="" value="" placeholder="编号/手机号" v-model="inputVal">
                        </div>
                        <button class="ui-btn h35pxline35px bgTf4cc53Tb48b32 f12 f12 c5c471a " style="margin-right: 0" @click="searchPredictSubCommissionList">查询</button>
                    </section>
                    <div class="ui-row-flex ui-whitespace" v-if="distributorList.length==0">
                        <div class="ui-col ui-col text-center mgT10 mgB10">
                            <i class="icons3  icons3-search-no"></i>
                            <p class="f12 c6">暂无数据...</p>
                        </div>
                    </div>
                    <ul class="ui-list " v-if="distributorList.length>0">
                        <li class="ui-border-t " v-for="p in distributorList" v-if="currentTab!==3" v-link-to="'/my/shop-in-shop.html?distributorId='+p.id+'&level='+ currentTab+'&name='+ p.name" >
                            <div class="ui-list-info">
                                <table class="ui-table table-text-left">
                                    <tbody>
                                    <tr>
                                        <td class="f14 c3 ">店铺编号：</td>
                                        <td class="f14 c3 ">{{p.id}}</td>
                                    </tr>
                                    <tr>
                                        <td class="f14 c3 ">申 请 人 ：</td>
                                        <td class="f14 c3 ">{{p.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="f14 c3 ">手　　机：</td>
                                        <td><span class="f14 cb38a32 line-underline">{{p.mobile}}</span> <i class="icons2 icons2-phone mgL5"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="f14 c3 ">创建时间：</td>
                                        <td><span class="f14 c3">{{p.registrationTime |date}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="ui-list-info">
                                <h4 class="ui-nowrap f14 cb38a32 text-right" v-if="currentTab!==3">查看子店 <i class="icons2 icons2-arrow-r f-r"></i></h4>
                            </div>
                        </li>
                        <li class="ui-border-t " v-for="p in distributorList" v-if="currentTab==3">
                            <div class="ui-list-info">
                                <table class="ui-table table-text-left">
                                    <tbody>
                                    <tr>
                                        <td class="f14 c3 ">店铺编号：</td>
                                        <td class="f14 c3 ">{{p.id}}</td>
                                    </tr>
                                    <tr>
                                        <td class="f14 c3 ">申 请 人 ：</td>
                                        <td class="f14 c3 ">{{p.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="f14 c3 ">手　　机：</td>
                                        <td><span class="f14 cb38a32 line-underline">{{p.mobile}}</span> <i class="icons2 icons2-phone mgL5"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="f14 c3 ">创建时间：</td>
                                        <td><span class="f14 c3">{{p.registrationTime |date}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="ui-list-info">
                                <h4 class="ui-nowrap f14 cb38a32 text-right" v-if="currentTab!==3">查看子店 <i class="icons2 icons2-arrow-r f-r"></i></h4>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>



    </section>

    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/my/partner.js?v=${version}"></script>

</body>
</html>