<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/my/my.css?v=${version}">
</head>
<body ontouchstart="">
    <ui-header title="系统通知"></ui-header>
    <!-- main section -->
    <section v-cloak>
        <!--暂无相关通知-->
        <div class="mgT53" v-if="msgList.length == 0">
            <ul class="ui-list ui-list-text BGT">
                <li class="text-center" style="display: block">
                    <i class="icons2 icons2-no-msg mgT50"></i>
                    <p class="mgT15"><span class="f14 c6">暂无相关通知~</span></p>
                </li>
            </ul>
        </div>
        <!--通知内容-->
        <div class="mgT43" v-if="msgList.length > 0">
            <!--按照倒序排列-->
            <div v-for="q in msgList">
                <ul class="ui-list ui-list-text BGT">
                    <li class="text-center">
                        <p class="f12 c3">{{q.sendTime|date}}</p>
                    </li>
                </ul>
                <ul class="ui-list ui-list-text ui-border-b" >
                    <li class="ui-border-t" style="display: block">
                        <p class="f16 c3">{{q.msgTitle}}</p>
                        <p class="f12 c6">{{{q.msgContent}}}</p>
                    </li>
                    <!--第一期不做-->
                    <!--<li class="ui-border-t ui-list-link">-->
                        <!--<h4 class="ui-nowrap">查看详情</h4>-->
                        <!--<div class="ui-txt-info">-->
                            <!--<i class="icons2 icons2-arrow-r"></i>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>

        </div>


    </section>

    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/my/system-message.js?v=${version}"></script>

</body>
</html>