<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" type="text/css" href="${staticPath}/libs/datePicker.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/setting/setting.css?v=${version}">
    <style>
        .ui-form-item input{
            padding-left:0 !important;
        }
    </style>
</head>

<body>
    <ui-header title="个人资料" :back-event="backEvent">
        <!--<a href="javascript:void(0)" v-if="!isEditStatus" class="handle" @click="isEditStatus = 1">修改</a>-->
        <!--<a href="javascript:void(0)" v-if="isEditStatus" class="handle" @click="updUserInfo">完成</a>-->
    </ui-header>
    <section class="ui-container">
        <!-- 展示状态 -->
        <div>
            <ul class="ui-list ui-list-text marT10">
                <li class="ui-border-b has-file-upload">
                    <h4 class="ui-nowrap">头像</h4>
                    <div class="header-default mgR5">
                        <span :style="{'background-image':'url('+headPicUrl+')'}"></span>
                    </div>
                    <ui-file-upload :callback.sync="uploadSuccess" app-cut="true"></ui-file-upload>
                    <i class="icons icons-next"></i>                    
                </li>
            </ul>
            <ul class="ui-list ui-list-text">
                <li class=""  @click="showEdit = true,type='nickname'">
                    <h4 class="ui-nowrap">昵称</h4>
                    <div class="ui-txt-info c6 mgR5" v-cloak>{{userInfo.nickname}}</div>
                    <i class="icons icons-next"></i>
                </li>
            </ul>
        </div>
        <div class="mgT10">
            <ul class="ui-list ui-list-text">
                <li class="" >
                    <h4 class="ui-nowrap">手机号码</h4>
                    <div class="ui-txt-info c9" v-cloak>{{userInfo.mobile }}</div>
                </li>
            </ul>
        </div>
    </section>
    <ui-actionsheet :show.sync="showSexSwitch">
        <button class="radiusTop3" @click="switchSex(0)">男</button>
        <button @click="switchSex(1)">女</button>
    </ui-actionsheet>
    
    <!--编辑弹窗-->
    <ui-edit :show.sync="showEdit" :back-event="callBack" :user-info.sync="userInfo" :user-info-old.syc="userInfoOld" :type.sync="type"></ui-edit>
    <!--省市区选择-->
    <ui-location :show.sync="showArea" :callback="chooseArea"></ui-location>
    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/iscroll.js?v=${version}"></script>
    <script src="${staticPath}/libs/datePicker.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/libs/exif.js?v=${version}"></script>    
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/setting/personal.js?v=${version}"></script>
</body>
</html>
