<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="${staticPath}/libs/frozenui/css/frozen.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/common.css?v=${version}">
    <link rel="stylesheet" href="${staticPath}/specialFun/specialFun.css?v=${version}">
</head>
<body ontouchstart="">

    <ui-header title="活动消息" :back-event="goBack"></ui-header>

    <section v-cloak class="ui-container">
        <template v-for=" msg in msgList" v-if="msgList.length>0">
        <div class="ui-flex ui-flex-pack-center mgT10 mgB10">
            <span class="f12  span-tip">{{msg.sendTimeStr}}</span>
        </div>
        <ul class="ui-list ui-list-pure whiteBlock mgT10 radius4px"  v-link-to="msg.h5Url">
            <li class="ui-border-t">
                <p class="f14 c6 mgB5 ui-nowrap">{{msg.msgTitle}}</p>
                <img :src="msg.coverUrl" alt="" width="100%">
                <p class="f12 c6 ui-nowrap">{{{msg.msgContent}}}</p>
            </li>
        </ul>
        </template>
        <!--<ul class="ui-list ui-list-pure whiteBlock mgT10" v-link-to-userpage.literal="/specialFun/publication-detail.html">-->
            <!--<li class="ui-border-t">-->
                <!--<p class="f14 c6 mgB5 ui-nowrap">全球首家零食博物馆 零食博物馆</p>-->
                <!--<img src="${staticPath}/images/banner3.png?v=${version}" alt="" width="100%">-->
                <!--<p class="f12 c6 ui-nowrap">忠于原味，精制猪肉脯128g*2小包装休闲零食原味猪肉</p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--isEnd-->
        <div class="ui-row-flex ui-whitespace mgT30" v-if="isEnd">
            <div class="ui-col ui-col text-center">
                <span class="f12 c6">没有更多了哦 看看别的吧~</span>
            </div>
        </div>
        <!--无数据时-->
        <div class="ui-row-flex ui-whitespace" v-if="msgList.length==0">
            <div class="ui-col ui-col text-center mgT10 mgB10">
                <i class="specailFunIcons  specailFunIcons-noMessage"></i>
                <p class="f12 c6">还没有消息哦~</p>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="/cms/view/frontier_guide/h5/templateJS.json"></script>
    <script src="${staticPath}/libs/frozenui/lib/zepto.min.js?v=${version}"></script>
    <script src="${staticPath}/libs/frozenui/js/frozen.js?v=${version}"></script>
    <script src="${staticPath}/libs/vendor.js?v=${version}"></script>
    <script src="${staticPath}/common.js?v=${version}"></script>
    <script src="${staticPath}/message/message-activity.js?v=${version}"></script>

</body>
</html>